Ingestion PDF (1).json
{
  "name": "Ingestion PDF",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "b2c093c6-c937-444b-9ce6-a3705f64e621",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/root/documents/**/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        32
      ],
      "id": "28d9310d-460a-4d49-b18e-431cd92a4ba7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        32
      ],
      "id": "07213b7d-ba44-4846-bc59-4d96e90520bd",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fdUD8PGs55JXUGZa",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        192
      ],
      "id": "b4237d0e-f282-43f5-ac43-f86e2b666cb7",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        736,
        352
      ],
      "id": "da0925e2-24f2-406d-ab49-6c0232fc865e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        112,
        272
      ],
      "id": "226f9e84-f38e-47f6-912c-c34d8a6a97b5",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "imNsiOICQnbBmguP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const fileName = item.json.fileName \n                || item.json.name\n                || \"inconnu.pdf\";\n  \n  return {\n    json: {\n      ...item.json,\n      metadata: {\n        source: fileName,\n        type: \"pdf\"\n      }\n    },\n    binary: item.binary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "eaa2205e-d5e6-45c9-ac42-bcadd3d28c86",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "939fc84d-8d3d-4fda-9352-d7da06db8290",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bdf7ff688b19ab0ac36637c28bc133a6c53efcc2cf4f2adb9831b0cb07db95d"
  },
  "id": "ywwgnmbaFhd3KqqG",
  "tags": []
}