RAG-chat (4).json
{
  "name": "RAG-chat",
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * Recherche hybride Qdrant (dense + BM25) pour le chat RAG.\n *\n * Stratégie par défaut (smart si RAG_RETRIEVAL_STRATEGY vide) :\n *  - Si la question cite une exigence (ex. 2.5) : recherche d’abord dans note_orientation ;\n *    si aucun chunk ne correspond à cette exigence → guide de validation (doc_validation),\n *    puis norme (norme_itie) si trop peu de résultats, puis corpus « reference », puis sans filtre.\n *  - Sinon : un passage avec filtre multi-types (RAG_REFERENCE_DOC_TYPES).\n *\n * RAG_RETRIEVAL_STRATEGY :\n *   (vide) | \"smart\" — comportement ci-dessus\n *   \"reference\" — uniquement filtre multi-types (pas de logique exigence / GN d’abord)\n *   \"orientation_then_validation\" — orientation puis validation si < RAG_ORIENTATION_MIN_HITS\n *   \"all\" | \"legacy\" | \"none\" — pas de filtre\n *\n * RAG_FALLBACK_MIN_HITS — sous-seuil pour compléter avec la norme après le guide (défaut 2)\n *\n * Cache Redis (optionnel) — évite embeddings Ollama + appels Qdrant pour les mêmes requêtes :\n *   RAG_REDIS_HOST — ex. 127.0.0.1 (vide = pas de cache)\n *   RAG_REDIS_PORT — défaut 6379\n *   RAG_REDIS_PASSWORD — optionnel\n *   RAG_REDIS_DB — défaut 0\n *   RAG_CACHE_TTL_SEC — défaut 3600\n *   RAG_CACHE_ENABLED — false pour désactiver même si Redis est configuré\n *   RAG_CACHE_NAMESPACE — isole plusieurs déploiements (défaut default)\n *   RAG_CACHE_BUST — changez la valeur pour invalider tout le cache (défaut 1)\n *   RAG_CACHE_KEY_PREFIX — défaut chafafiya:rag:v1:\n *\n * Invalidation cache après réingestion (Fix #5) :\n *   Option A (bust) : incrémenter RAG_CACHE_BUST dans les variables d'env n8n\n *   Option B (Redis CLI) : redis-cli KEYS \"chafafiya:rag:v1:*\" | xargs redis-cli DEL\n *   Option C (désactiver) : positionner RAG_CACHE_ENABLED=false le temps de la réingestion\n */\nconst httpRequest = this.helpers.httpRequest.bind(this);\n\nconst b = $('Code in JavaScript3').first().json.body ?? {};\nconst question =\n  (typeof b.chatInput === 'string' && b.chatInput.trim()) ||\n  (typeof b.originalQuestion === 'string' && b.originalQuestion.trim()) ||\n  '';\n\n/**\n * Alignement embedding (Fix #3) : applique le même préfixe sémantique côté requête\n * que buildEmbeddingPrefix() utilisé à l'ingestion, pour aligner l'espace vectoriel\n * de nomic-embed-text entre chunks indexés et vecteurs de requête.\n * Préfixe minimal [query] : signal d'asymétrie sans noyer la sémantique.\n */\nfunction buildQueryEmbedText(q) {\n  const s = String(q || '').trim();\n  if (!s) return s;\n  return '[query]\\n\\n' + s;\n}\n\nconst QDRANT_COLLECTION = 'documents';\nconst DENSE_VECTOR_NAME = 'dense';\nconst SPARSE_VECTOR_NAME = 'text-bm25';\n\nfunction envStr(name) {\n  try {\n    if (typeof process === 'undefined') return '';\n    const pe = process.env;\n    if (!pe || typeof pe[name] !== 'string') return '';\n    return pe[name];\n  } catch (_) {\n    return '';\n  }\n}\n\nfunction envInt(name, def) {\n  const v = envStr(name).trim();\n  if (!v) return def;\n  const n = parseInt(v, 10);\n  return Number.isFinite(n) && n > 0 ? n : def;\n}\n\nconst PREFETCH_LIMIT = envInt('RAG_PREFETCH_LIMIT', 24);\nconst FINAL_LIMIT = envInt('RAG_FINAL_LIMIT', 10);\nconst ORIENTATION_MIN_HITS = envInt('RAG_ORIENTATION_MIN_HITS', 3);\nconst FALLBACK_MIN_HITS = envInt('RAG_FALLBACK_MIN_HITS', 2);\nconst OLLAMA_MODEL = 'nomic-embed-text:latest';\nconst TIMEOUT_OLLAMA_EMBED_MS = envInt('RAG_OLLAMA_TIMEOUT_MS', 30000);\nconst TIMEOUT_QDRANT_MS = envInt('RAG_QDRANT_TIMEOUT_MS', 15000);\nconst CB_THRESHOLD = envInt('RAG_CB_THRESHOLD', 5);\nconst CB_OPEN_MS = envInt('RAG_CB_OPEN_MS', 60000);\n\nconst retrievalErrors = [];\nconst retrievalMetrics = {\n  latency_retrieval_ms: null,\n  latency_ollama_embed_ms: null,\n  latency_qdrant_ms: null,\n  qdrant_status: 'unknown',\n  ollama_status: 'unknown',\n  retrieval_strategy: null,\n  points_returned: 0,\n  redis_cache: 'disabled',\n  cache_hit: false,\n  cache_key_hash: null,\n};\nconst tRetrievalStart = Date.now();\n\nconst root = $('Code in JavaScript3').first().json ?? {};\nconst ret = root._retrieval ?? {};\n\nlet baseUrl = '';\nlet apiKey = '';\nlet ollamaBase = '';\n\nif (typeof this.getCredentials === 'function') {\n  try {\n    const qCred = await this.getCredentials('qdrantApi');\n    baseUrl = String(qCred.url || '').replace(/\\/$/, '');\n    apiKey = qCred.apiKey || qCred.api_key || '';\n  } catch (_) {}\n  try {\n    const o = await this.getCredentials('ollamaApi');\n    ollamaBase = String(o.baseUrl || o.host || o.url || '').replace(\n      /\\/$/,\n      '',\n    );\n  } catch (_) {}\n}\n\nif (!baseUrl) {\n  baseUrl = String(\n    ret.qdrantUrl || envStr('QDRANT_URL') || 'http://127.0.0.1:6333',\n  ).replace(/\\/$/, '');\n}\nif (!apiKey) {\n  apiKey =\n    ret.qdrantApiKey || envStr('QDRANT_API_KEY') || envStr('QDRANT_KEY') || '';\n}\nif (!baseUrl || !String(baseUrl).startsWith('http')) {\n  throw new Error(\n    \"Qdrant: URL manquante. Renseignez _retrieval.qdrantUrl (nœud Set avant ce Code), ou variables d'environnement QDRANT_URL si process est exposé, ou getCredentials si dispo.\",\n  );\n}\nif (!ollamaBase) {\n  ollamaBase = String(\n    ret.ollamaUrl || envStr('OLLAMA_URL') || 'http://127.0.0.1:11434',\n  ).replace(/\\/$/, '');\n}\n\nconst headers = { 'Content-Type': 'application/json' };\nif (apiKey) headers['api-key'] = apiKey;\n\nif (!question) {\n  return [];\n}\n\n// Remplacement de crypto.createHash('sha256') compatible sandbox n8n\n// Implémentation FNV-1a 64-bit encodée en hex (suffisant pour clé de cache)\nfunction simpleHash(str) {\n  let h1 = 0x811c9dc5;\n  let h2 = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    h1 ^= c;\n    h1 = Math.imul(h1, 0x01000193) >>> 0;\n    h2 ^= (c << 4) ^ (c >> 2);\n    h2 = Math.imul(h2, 0x01000193) >>> 0;\n  }\n  const toHex = (n) => n.toString(16).padStart(8, '0');\n  return toHex(h1) + toHex(h2) + toHex(h1 ^ h2) + toHex((h1 + h2) >>> 0) +\n         toHex(h2 ^ (h1 >> 1)) + toHex(h1 ^ (h2 >> 3));\n}\n\n// Remplacement de require('net') — implémentation TCP via $helpers.httpRequest\n// Redis pipeline via HTTP n'est pas possible directement ; on désactive le cache\n// Redis si net est indisponible et on retourne null (cache miss gracieux).\nconst netAvailable = (() => { try { require('net'); return true; } catch(_) { return false; } })();\n\nconst RAG_REDIS_HOST = envStr('RAG_REDIS_HOST').trim();\nconst RAG_REDIS_PORT = envInt('RAG_REDIS_PORT', 6379);\nconst RAG_REDIS_PASSWORD = envStr('RAG_REDIS_PASSWORD');\nconst RAG_REDIS_DB = envInt('RAG_REDIS_DB', 0);\nconst RAG_CACHE_TTL_SEC = envInt('RAG_CACHE_TTL_SEC', 3600);\nconst RAG_CACHE_ENABLED =\n  envStr('RAG_CACHE_ENABLED').trim().toLowerCase() !== 'false';\n\nlet strategyForCacheKey = envStr('RAG_RETRIEVAL_STRATEGY').trim().toLowerCase();\nif (!strategyForCacheKey) strategyForCacheKey = 'smart';\n\nfunction buildRagCachePayload() {\n  return JSON.stringify({\n    v: 1,\n    q: question.normalize('NFC').trim(),\n    strategy: strategyForCacheKey,\n    coll: QDRANT_COLLECTION,\n    pl: PREFETCH_LIMIT,\n    fl: FINAL_LIMIT,\n    omh: ORIENTATION_MIN_HITS,\n    fmh: FALLBACK_MIN_HITS,\n    rdt: envStr('RAG_REFERENCE_DOC_TYPES').trim(),\n    bust: envStr('RAG_CACHE_BUST').trim() || '1',\n    ns: envStr('RAG_CACHE_NAMESPACE').trim() || 'default',\n  });\n}\n\nfunction ragCacheRedisKey() {\n  const h = simpleHash(buildRagCachePayload()).slice(0, 48);\n  const prefix =\n    envStr('RAG_CACHE_KEY_PREFIX').trim() || 'chafafiya:rag:v1:';\n  retrievalMetrics.cache_key_hash = h;\n  return `${prefix}${h}`;\n}\n\nfunction encodeRedisCmd(args) {\n  let out = `*${args.length}\\r\\n`;\n  for (const a of args) {\n    const s = a == null ? '' : String(a);\n    const n = Buffer.byteLength(s, 'utf8');\n    out += `$${n}\\r\\n${s}\\r\\n`;\n  }\n  return out;\n}\n\nfunction tryConsumeOneRedisReply(buf) {\n  if (!buf.length) return { needMore: true };\n  const c = buf[0];\n  if (c === 43) {\n    const i = buf.indexOf('\\r\\n');\n    if (i === -1) return { needMore: true };\n    return {\n      consumed: i + 2,\n      simple: buf.slice(1, i).toString('utf8'),\n    };\n  }\n  if (c === 45) {\n    const i = buf.indexOf('\\r\\n');\n    if (i === -1) return { needMore: true };\n    return {\n      consumed: i + 2,\n      err: buf.slice(1, i).toString('utf8'),\n    };\n  }\n  if (c === 36) {\n    const i = buf.indexOf('\\r\\n', 1);\n    if (i === -1) return { needMore: true };\n    const len = parseInt(buf.slice(1, i).toString('utf8'), 10);\n    if (len === -1) return { consumed: i + 2, bulk: null };\n    if (!Number.isFinite(len) || len < 0) return { parseErr: 'bad_bulk_len' };\n    const end = i + 2 + len + 2;\n    if (buf.length < end) return { needMore: true };\n    const bulk = buf.slice(i + 2, i + 2 + len).toString('utf8');\n    return { consumed: end, bulk };\n  }\n  return { parseErr: `bad_type_${c}` };\n}\n\nfunction redisPipeline(host, port, password, db, commands) {\n  if (!netAvailable) return Promise.reject(new Error('net_module_unavailable'));\n  return new Promise((resolve, reject) => {\n    const net = require('net');\n    const sock = net.createConnection({ host, port, family: 4 });\n    const timer = setTimeout(() => {\n      sock.destroy();\n      reject(new Error('redis_timeout'));\n    }, 3000);\n    let buf = Buffer.alloc(0);\n    const cmds = [];\n    if (password) cmds.push(['AUTH', password]);\n    if (db != null && String(db) !== '0') cmds.push(['SELECT', String(db)]);\n    cmds.push(...commands);\n    let encoded = '';\n    for (const c of cmds) encoded += encodeRedisCmd(c);\n    const replies = [];\n    sock.on('error', (e) => {\n      clearTimeout(timer);\n      reject(e);\n    });\n    sock.on('connect', () => sock.write(encoded));\n    sock.on('data', (chunk) => {\n      buf = Buffer.concat([buf, chunk]);\n      while (true) {\n        const r = tryConsumeOneRedisReply(buf);\n        if (r.needMore) break;\n        if (r.parseErr) {\n          clearTimeout(timer);\n          sock.destroy();\n          reject(new Error(r.parseErr));\n          return;\n        }\n        if (r.err) {\n          clearTimeout(timer);\n          sock.destroy();\n          reject(new Error(r.err));\n          return;\n        }\n        buf = buf.slice(r.consumed);\n        if ('simple' in r) replies.push({ type: 'simple', val: r.simple });\n        else if ('bulk' in r) replies.push({ type: 'bulk', val: r.bulk });\n        if (replies.length >= cmds.length) {\n          clearTimeout(timer);\n          sock.end();\n          resolve(replies);\n          return;\n        }\n      }\n    });\n  });\n}\n\nasync function redisGetJson(host, port, password, db, key) {\n  const replies = await redisPipeline(host, port, password, db, [['GET', key]]);\n  const last = replies[replies.length - 1];\n  if (!last || last.type !== 'bulk' || last.val == null) return null;\n  try {\n    return JSON.parse(last.val);\n  } catch {\n    return null;\n  }\n}\n\nasync function redisSetEx(host, port, password, db, key, ttlSec, jsonStr) {\n  await redisPipeline(host, port, password, db, [\n    ['SETEX', key, String(ttlSec), jsonStr],\n  ]);\n}\n\nasync function tryReturnFromRedisCache() {\n  if (!RAG_CACHE_ENABLED || !RAG_REDIS_HOST) {\n    retrievalMetrics.redis_cache = 'disabled';\n    return null;\n  }\n  retrievalMetrics.redis_cache = 'miss';\n  try {\n    const key = ragCacheRedisKey();\n    const parsed = await redisGetJson(\n      RAG_REDIS_HOST,\n      RAG_REDIS_PORT,\n      RAG_REDIS_PASSWORD || undefined,\n      RAG_REDIS_DB,\n      key,\n    );\n    if (\n      !parsed ||\n      parsed.v !== 1 ||\n      !Array.isArray(parsed.items) ||\n      !parsed.items.length\n    ) {\n      return null;\n    }\n    retrievalMetrics.redis_cache = 'hit';\n    retrievalMetrics.cache_hit = true;\n    retrievalMetrics.latency_ollama_embed_ms = 0;\n    retrievalMetrics.latency_qdrant_ms = 0;\n    retrievalMetrics.ollama_status = 'skipped_cache';\n    retrievalMetrics.qdrant_status = 'skipped_cache';\n    retrievalMetrics.retrieval_strategy = strategyForCacheKey;\n    retrievalMetrics.points_returned = parsed.items.length;\n    retrievalMetrics.latency_retrieval_ms = Date.now() - tRetrievalStart;\n    return parsed.items.map((it) => ({\n      json: {\n        ...(it && typeof it === 'object' ? it : {}),\n        retrieval_metrics: { ...retrievalMetrics },\n      },\n    }));\n  } catch {\n    retrievalMetrics.redis_cache = 'error';\n    return null;\n  }\n}\n\nasync function maybeStoreRedisCache(itemsJson) {\n  if (!RAG_CACHE_ENABLED || !RAG_REDIS_HOST) return;\n  if (retrievalErrors.length) return;\n  if (!itemsJson || !itemsJson.length) return;\n  try {\n    const key = ragCacheRedisKey();\n    await redisSetEx(\n      RAG_REDIS_HOST,\n      RAG_REDIS_PORT,\n      RAG_REDIS_PASSWORD || undefined,\n      RAG_REDIS_DB,\n      key,\n      RAG_CACHE_TTL_SEC,\n      JSON.stringify({ v: 1, items: itemsJson }),\n    );\n  } catch (_) {}\n}\n\nconst cachedRetrievalOut = await tryReturnFromRedisCache();\nif (cachedRetrievalOut) return cachedRetrievalOut;\n\nfunction getBreaker(serviceName) {\n  const g = globalThis;\n  g.__chafafiyaBreakers = g.__chafafiyaBreakers || {};\n  if (!g.__chafafiyaBreakers[serviceName]) {\n    g.__chafafiyaBreakers[serviceName] = {\n      failureCount: 0,\n      state: 'CLOSED',\n      openUntil: 0,\n    };\n  }\n  return g.__chafafiyaBreakers[serviceName];\n}\n\nfunction breakerOpen(serviceName) {\n  const br = getBreaker(serviceName);\n  return br.state === 'OPEN' && Date.now() < br.openUntil;\n}\n\nfunction breakerRecordFailure(serviceName) {\n  const br = getBreaker(serviceName);\n  br.failureCount++;\n  if (br.failureCount >= CB_THRESHOLD) {\n    br.state = 'OPEN';\n    br.openUntil = Date.now() + CB_OPEN_MS;\n  }\n}\n\nfunction breakerRecordSuccess(serviceName) {\n  const br = getBreaker(serviceName);\n  br.failureCount = 0;\n  br.state = 'CLOSED';\n  br.openUntil = 0;\n}\n\nlet queryVector = [];\nif (breakerOpen('ollama')) {\n  retrievalErrors.push({\n    service: 'ollama',\n    operation: 'embeddings',\n    message: 'circuit_open',\n  });\n  retrievalMetrics.ollama_status = 'circuit_open';\n} else {\n  try {\n    const t0 = Date.now();\n    const embRes = await httpRequest({\n      method: 'POST',\n      url: `${ollamaBase}/api/embeddings`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ model: OLLAMA_MODEL, prompt: buildQueryEmbedText(question) }),\n      json: true,\n      timeout: TIMEOUT_OLLAMA_EMBED_MS,\n    });\n    const v = embRes.embedding;\n    if (Array.isArray(v) && v.length) queryVector = v;\n    else {\n      throw new Error('Ollama: embedding vide');\n    }\n    retrievalMetrics.latency_ollama_embed_ms = Date.now() - t0;\n    breakerRecordSuccess('ollama');\n    retrievalMetrics.ollama_status = 'ok';\n  } catch (err) {\n    breakerRecordFailure('ollama');\n    const message = err && err.message ? String(err.message) : 'Ollama error';\n    retrievalErrors.push({\n      service: 'ollama',\n      operation: 'embeddings',\n      message,\n    });\n    retrievalMetrics.ollama_status = /timeout/i.test(message) ? 'timeout' : 'error';\n  }\n}\n\nif (!queryVector.length) {\n  retrievalMetrics.latency_retrieval_ms = Date.now() - tRetrievalStart;\n  return [\n    {\n      json: {\n        retrieval_errors: retrievalErrors.length ? retrievalErrors : [{ service: 'ollama', operation: 'embeddings', message: 'embedding_unavailable' }],\n        retrieval_metrics: retrievalMetrics,\n        document: { pageContent: '', metadata: {} },\n        score: 0,\n        searchType: 'hybrid',\n      },\n    },\n  ];\n}\n\nfunction buildHybridBody(filter) {\n  const body = {\n    prefetch: [\n      { query: queryVector, using: DENSE_VECTOR_NAME, limit: PREFETCH_LIMIT },\n      {\n        query: {\n          text: question,\n          model: 'qdrant/bm25',\n          options: { language: 'french' },\n        },\n        using: SPARSE_VECTOR_NAME,\n        limit: PREFETCH_LIMIT,\n      },\n    ],\n    query: { fusion: 'rrf' },\n    limit: FINAL_LIMIT,\n    with_payload: true,\n  };\n  if (filter) body.filter = filter;\n  return body;\n}\n\nfunction mapPointsToItems(points) {\n  return points.map((p) => {\n    const payload = p.payload || {};\n    const pageContent =\n      payload.content ?? payload.text ?? payload.page_content ?? '';\n    const metadata =\n      typeof payload.metadata === 'object' && payload.metadata !== null\n        ? payload.metadata\n        : {};\n    return {\n      json: {\n        document: { pageContent, metadata },\n        score: typeof p.score === 'number' ? p.score : 0,\n        searchType: 'hybrid',\n      },\n    };\n  });\n}\n\nfunction normalizePoints(raw) {\n  return Array.isArray(raw) ? raw : [];\n}\n\nfunction pointKey(p) {\n  if (p == null) return '';\n  if (p.id !== undefined && p.id !== null) return String(p.id);\n  const pay = p.payload || {};\n  const mid = pay.metadata?.document_id || pay.document_id || '';\n  const cx = (pay.content || '').toString().slice(0, 80);\n  return `${mid}:${cx}`;\n}\n\n/**\n * Filtre uniquement sur la clé racine payload.document_type (remplie par l’upsert hybride).\n * Évite les 400 Qdrant dus aux chemins imbriqués du type metadata.document_type sans index.\n */\nfunction filterDocType(value) {\n  return {\n    must: [{ key: 'document_type', match: { value } }],\n  };\n}\n\nfunction parseReferenceDocTypes() {\n  const raw = envStr('RAG_REFERENCE_DOC_TYPES').trim();\n  if (raw) {\n    return raw\n      .split(/[,;]+/)\n      .map((s) => s.trim())\n      .filter(Boolean);\n  }\n  return ['note_orientation', 'norme_itie', 'doc_validation'];\n}\n\nfunction filterAnyDocType(values) {\n  const v = Array.isArray(values) ? values.filter(Boolean) : [];\n  if (!v.length) return null;\n  if (v.length === 1) return filterDocType(v[0]);\n  return {\n    should: v.map((value) => ({\n      key: 'document_type',\n      match: { value },\n    })),\n    minimum_should_match: 1,\n  };\n}\n\nconst FILTER_NOTE_ORIENTATION = filterDocType('note_orientation');\nconst FILTER_VALIDATION = filterDocType('doc_validation');\nconst FILTER_NORM = filterDocType('norme_itie');\nconst FILTER_REFERENCE = filterAnyDocType(parseReferenceDocTypes());\n\nfunction extractRequirementId(q) {\n  const s = String(q || '');\n  const m1 = s.match(\n    /\\bexigence\\s+([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z]))?\\b/i,\n  );\n  if (m1) {\n    return m1[3] ? `${m1[1]}.${m1[2]}.${m1[3]}` : `${m1[1]}.${m1[2]}`;\n  }\n  const hasCtx =\n    /itie|eiti|orientation|norme|note\\s*d|validation|standard|couvre|explique|gn\\b|thématique/i.test(\n      s,\n    );\n  if (!hasCtx) return '';\n  const m2 = s.match(/\\b([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z]))?\\b/);\n  if (!m2) return '';\n  return m2[3] ? `${m2[1]}.${m2[2]}.${m2[3]}` : `${m2[1]}.${m2[2]}`;\n}\n\nfunction pointMatchesRequirement(point, rid) {\n  if (!rid || !point) return false;\n  const pay = point.payload || {};\n  const meta = pay.metadata || {};\n  const hint = String(meta.requirement_hint || pay.requirement_hint || '').trim();\n  const parts = rid.split('.');\n  const base = parts.length >= 2 ? `${parts[0]}.${parts[1]}` : rid;\n  if (\n    hint &&\n    (hint === rid ||\n      hint === base ||\n      hint.startsWith(base + '.') ||\n      rid.startsWith(hint + '.'))\n  ) {\n    return true;\n  }\n  const src = String(\n    pay.source || meta.source || meta.filename || '',\n  ).toLowerCase();\n  const maj = parts[0];\n  const min = parts[1];\n  if (maj && min) {\n    const pat = new RegExp(\n      `\\\\b${maj}[._-]${min}\\\\b|gn[\\\\s._-]*${maj}[._]${min}|eiti[._-]?gn[._-]*${maj}[._]${min}|\\\\bgn\\\\s*${maj}[._]${min}`,\n      'i',\n    );\n    if (pat.test(src)) return true;\n  }\n  const text = String(pay.content || pay.page_content || '')\n    .slice(0, 10000)\n    .toLowerCase();\n  const chap = String(meta.itie_chapter || pay.itie_chapter || '').trim();\n  if (maj && min && chap === maj) {\n    if (\n      text.includes(`${maj}.${min}`) ||\n      new RegExp(\n        `exigence\\\\s*${maj}\\\\s*[.,\\\\s]+\\\\s*${min}\\\\b`,\n        'i',\n      ).test(text) ||\n      new RegExp(`sous-exigence\\\\s*${maj}[.\\\\s]*${min}\\\\b`, 'i').test(\n        text,\n      )\n    ) {\n      return true;\n    }\n  }\n  if (!maj || !min) return false;\n  if (\n    text.includes(`exigence ${maj}.${min}`) ||\n    text.includes(`exigence ${maj}, ${min}`) ||\n    text.includes(`exigence ${maj} ${min}`)\n  ) {\n    return true;\n  }\n  if (\n    new RegExp(\n      `exigence\\\\s*${maj}\\\\s*[.,\\\\s]+\\\\s*${min}\\\\b`,\n      'i',\n    ).test(text)\n  ) {\n    return true;\n  }\n  if (\n    new RegExp(`sous-exigence\\\\s*${maj}[.\\\\s]*${min}\\\\b`, 'i').test(text)\n  ) {\n    return true;\n  }\n  return false;\n}\n\nfunction mergePointsUnique(primary, extra, limit) {\n  const seen = new Set(primary.map(pointKey));\n  const out = primary.slice();\n  for (const p of extra) {\n    if (out.length >= limit) break;\n    const k = pointKey(p);\n    if (seen.has(k)) continue;\n    seen.add(k);\n    out.push(p);\n  }\n  return out;\n}\n\nasync function runSmartExigenceRetrieval(rid) {\n  // Fix #4 : filtre requirement_hint avant le fallback générique par document_type.\n  // Cible en priorité les chunks taggés pour cette exigence précise lors de l'ingestion.\n  if (rid) {\n    const ridParts = rid.split('.');\n    const ridBase = ridParts.length >= 2 ? (ridParts[0] + '.' + ridParts[1]) : rid;\n\n    // Tentative 1 : filtre combiné note_orientation + requirement_hint exact\n    const filterHint = {\n      must: [\n        { key: 'document_type', match: { value: 'note_orientation' } },\n        { key: 'requirement_hint', match: { value: ridBase } },\n      ],\n    };\n    const precise = await runRetrievalFiltered(filterHint);\n    if (precise.length >= FALLBACK_MIN_HITS) {\n      return precise.slice(0, FINAL_LIMIT);\n    }\n\n    // Tentative 1b : requirement_hint seul, tous types de documents confondus\n    const filterHintOnly = {\n      must: [{ key: 'requirement_hint', match: { value: ridBase } }],\n    };\n    const hintOnly = await runRetrievalFiltered(filterHintOnly);\n    if (hintOnly.length >= FALLBACK_MIN_HITS) {\n      return hintOnly.slice(0, FINAL_LIMIT);\n    }\n  }\n\n  // Tentative 2 : recherche dans note_orientation + validation post-filtrage par pointMatchesRequirement\n  const ori = await runRetrievalFiltered(FILTER_NOTE_ORIENTATION);\n  const matched = ori.filter((p) => pointMatchesRequirement(p, rid));\n  if (matched.length > 0) {\n    return mergePointsUnique(matched, ori, FINAL_LIMIT);\n  }\n\n  // Tentative 3 : guide de validation, puis norme, puis corpus reference, puis sans filtre\n  let pts = await runRetrievalFiltered(FILTER_VALIDATION);\n  if (pts.length < FALLBACK_MIN_HITS) {\n    const nrm = await runRetrievalFiltered(FILTER_NORM);\n    pts = mergePointsUnique(pts, nrm, FINAL_LIMIT);\n  }\n  if (!pts.length) {\n    pts = await runRetrievalFiltered(FILTER_REFERENCE);\n  }\n  if (!pts.length) {\n    pts = await runRetrievalUnfiltered();\n  }\n  return pts.slice(0, FINAL_LIMIT);\n}\n\nconst qdrantReqOpts = {\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n};\n\nfunction pointsFromQdrantParsed(parsed) {\n  if (!parsed || typeof parsed !== 'object') return [];\n  const r = parsed.result;\n  if (Array.isArray(r)) return normalizePoints(r);\n  if (r && Array.isArray(r.points)) return normalizePoints(r.points);\n  if (Array.isArray(parsed.points)) return normalizePoints(parsed.points);\n  return [];\n}\n\nasync function tryHybridQuery(body) {\n  try {\n    if (breakerOpen('qdrant')) {\n      retrievalErrors.push({\n        service: 'qdrant',\n        operation: 'hybrid_query',\n        message: 'circuit_open',\n      });\n      retrievalMetrics.qdrant_status = 'circuit_open';\n      return [];\n    }\n    const t0 = Date.now();\n    const qRes = await httpRequest({\n      method: 'POST',\n      url: `${baseUrl}/collections/${encodeURIComponent(QDRANT_COLLECTION)}/points/query`,\n      headers,\n      body: JSON.stringify(body),\n      json: true,\n      ...qdrantReqOpts,\n      timeout: TIMEOUT_QDRANT_MS,\n    });\n    const dt = Date.now() - t0;\n    retrievalMetrics.latency_qdrant_ms = (retrievalMetrics.latency_qdrant_ms || 0) + dt;\n    const code = qRes.statusCode ?? qRes.status ?? 200;\n    if (code >= 400) {\n      breakerRecordFailure('qdrant');\n      retrievalErrors.push({\n        service: 'qdrant',\n        operation: 'hybrid_query',\n        message: `http_${code}`,\n      });\n      retrievalMetrics.qdrant_status = 'error';\n      return [];\n    }\n    breakerRecordSuccess('qdrant');\n    retrievalMetrics.qdrant_status = 'ok';\n    return pointsFromQdrantParsed(qRes.body);\n  } catch (err) {\n    breakerRecordFailure('qdrant');\n    const message = err && err.message ? String(err.message) : 'qdrant_error';\n    retrievalErrors.push({\n      service: 'qdrant',\n      operation: 'hybrid_query',\n      message,\n    });\n    retrievalMetrics.qdrant_status = /timeout/i.test(message) ? 'timeout' : 'error';\n    return [];\n  }\n}\n\nasync function trySearchDense(filter) {\n  const named = {\n    vector: { name: DENSE_VECTOR_NAME, vector: queryVector },\n    limit: FINAL_LIMIT,\n    with_payload: true,\n  };\n  if (filter) named.filter = filter;\n  try {\n    if (breakerOpen('qdrant')) {\n      retrievalErrors.push({\n        service: 'qdrant',\n        operation: 'dense_search_named',\n        message: 'circuit_open',\n      });\n      retrievalMetrics.qdrant_status = 'circuit_open';\n      throw new Error('circuit_open');\n    }\n    const t0 = Date.now();\n    const sRes = await httpRequest({\n      method: 'POST',\n      url: `${baseUrl}/collections/${encodeURIComponent(QDRANT_COLLECTION)}/points/search`,\n      headers,\n      body: JSON.stringify(named),\n      json: true,\n      ...qdrantReqOpts,\n      timeout: TIMEOUT_QDRANT_MS,\n    });\n    const dt = Date.now() - t0;\n    retrievalMetrics.latency_qdrant_ms = (retrievalMetrics.latency_qdrant_ms || 0) + dt;\n    const code = sRes.statusCode ?? sRes.status ?? 200;\n    if (code >= 400) {\n      breakerRecordFailure('qdrant');\n      retrievalErrors.push({\n        service: 'qdrant',\n        operation: 'dense_search_named',\n        message: `http_${code}`,\n      });\n      retrievalMetrics.qdrant_status = 'error';\n      throw new Error('dense named failed');\n    }\n    breakerRecordSuccess('qdrant');\n    retrievalMetrics.qdrant_status = 'ok';\n    return pointsFromQdrantParsed(sRes.body);\n  } catch (err) {\n    const flat = {\n      vector: queryVector,\n      limit: FINAL_LIMIT,\n      with_payload: true,\n    };\n    if (filter) flat.filter = filter;\n    try {\n      if (breakerOpen('qdrant')) {\n        retrievalErrors.push({\n          service: 'qdrant',\n          operation: 'dense_search_flat',\n          message: 'circuit_open',\n        });\n        retrievalMetrics.qdrant_status = 'circuit_open';\n        return [];\n      }\n      const t1 = Date.now();\n      const sRes2 = await httpRequest({\n        method: 'POST',\n        url: `${baseUrl}/collections/${encodeURIComponent(QDRANT_COLLECTION)}/points/search`,\n        headers,\n        body: JSON.stringify(flat),\n        json: true,\n        ...qdrantReqOpts,\n        timeout: TIMEOUT_QDRANT_MS,\n      });\n      const dt2 = Date.now() - t1;\n      retrievalMetrics.latency_qdrant_ms = (retrievalMetrics.latency_qdrant_ms || 0) + dt2;\n      const c2 = sRes2.statusCode ?? sRes2.status ?? 200;\n      if (c2 >= 400) {\n        breakerRecordFailure('qdrant');\n        retrievalErrors.push({\n          service: 'qdrant',\n          operation: 'dense_search_flat',\n          message: `http_${c2}`,\n        });\n        retrievalMetrics.qdrant_status = 'error';\n        return [];\n      }\n      breakerRecordSuccess('qdrant');\n      retrievalMetrics.qdrant_status = 'ok';\n      return pointsFromQdrantParsed(sRes2.body);\n    } catch (err2) {\n      breakerRecordFailure('qdrant');\n      const message =\n        err2 && err2.message ? String(err2.message) : 'qdrant_error';\n      retrievalErrors.push({\n        service: 'qdrant',\n        operation: 'dense_search_flat',\n        message,\n      });\n      retrievalMetrics.qdrant_status = /timeout/i.test(message) ? 'timeout' : 'error';\n      return [];\n    }\n  }\n}\n\nasync function runRetrievalFiltered(filter) {\n  const pts = await tryHybridQuery(buildHybridBody(filter));\n  if (pts.length) return pts;\n  return trySearchDense(filter);\n}\n\nasync function runRetrievalUnfiltered() {\n  const pts = await tryHybridQuery(buildHybridBody(null));\n  if (pts.length) return pts;\n  return trySearchDense(null);\n}\n\nlet points = [];\nlet strategy = envStr('RAG_RETRIEVAL_STRATEGY').trim().toLowerCase();\nif (!strategy) strategy = 'smart';\nretrievalMetrics.retrieval_strategy = strategy;\n\nif (strategy === 'all' || strategy === 'legacy' || strategy === 'none') {\n  points = await runRetrievalUnfiltered();\n} else if (strategy === 'orientation_then_validation') {\n  points = await runRetrievalFiltered(FILTER_NOTE_ORIENTATION);\n\n  if (points.length < ORIENTATION_MIN_HITS) {\n    const valPts = await runRetrievalFiltered(FILTER_VALIDATION);\n    const seen = new Set(points.map(pointKey));\n    for (const p of valPts) {\n      if (points.length >= FINAL_LIMIT) break;\n      const k = pointKey(p);\n      if (seen.has(k)) continue;\n      seen.add(k);\n      points.push(p);\n    }\n  }\n\n  if (!points.length) {\n    points = await runRetrievalUnfiltered();\n  }\n} else if (strategy === 'reference') {\n  points = await runRetrievalFiltered(FILTER_REFERENCE);\n  if (!points.length) {\n    points = await runRetrievalUnfiltered();\n  }\n} else {\n  const rid = extractRequirementId(question);\n  if (rid) {\n    points = await runSmartExigenceRetrieval(rid);\n  } else {\n    points = await runRetrievalFiltered(FILTER_REFERENCE);\n    if (!points.length) {\n      points = await runRetrievalUnfiltered();\n    }\n  }\n}\n\nif (points.length === 0 && retrievalErrors.length) {\n  retrievalMetrics.latency_retrieval_ms = Date.now() - tRetrievalStart;\n  return [\n    {\n      json: {\n        retrieval_errors: retrievalErrors,\n        retrieval_metrics: retrievalMetrics,\n        document: { pageContent: '', metadata: {} },\n        score: 0,\n        searchType: 'hybrid',\n      },\n    },\n  ];\n}\n\nretrievalMetrics.points_returned = points.length;\nretrievalMetrics.latency_retrieval_ms = Date.now() - tRetrievalStart;\n\nconst mappedForOut = mapPointsToItems(points);\nawait maybeStoreRedisCache(mappedForOut.map((it) => it.json));\n\nreturn mappedForOut.map((it) => ({\n  json: {\n    ...it.json,\n    retrieval_errors: retrievalErrors.length ? retrievalErrors : undefined,\n    retrieval_metrics: retrievalMetrics,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1584
      ],
      "id": "7f3a2c1e-9b8d-4e7f-a6b5-c4d3e2f1a0b9",
      "name": "Qdrant Hybrid Search",
      "credentials": {
        "qdrantApi": {
          "id": "fdUD8PGs55JXUGZa",
          "name": "QdrantApi account"
        },
        "ollamaApi": {
          "id": "imNsiOICQnbBmguP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function envStr(name) {\n  try {\n    if (typeof process === 'undefined') return '';\n    const pe = process.env;\n    if (!pe || typeof pe[name] !== 'string') return '';\n    return pe[name];\n  } catch (_) {\n    return '';\n  }\n}\n\nconst items = $input.all();\nif (!items.length) return [];\n\nconst b = $('Code in JavaScript3').first().json.body ?? {};\nconst question =\n  (typeof b.chatInput === 'string' && b.chatInput.trim()) ||\n  (typeof b.originalQuestion === 'string' && b.originalQuestion.trim()) ||\n  '';\n\nconst docs = items.map(\n  (i) =>\n    i.json?.document?.pageContent ||\n    i.json?.pageContent ||\n    i.json?.text ||\n    '',\n);\n\nlet apiKey = '';\nif (typeof this.getCredentials === 'function') {\n  try {\n    const c = await this.getCredentials('cohereApi');\n    apiKey = c.apiKey || c.accessToken || '';\n  } catch (_) {}\n}\nif (!apiKey) apiKey = envStr('COHERE_API_KEY');\n\nif (!apiKey || !question) return items;\n\nconst nonEmptyIdx = docs.map((t, i) => (t && String(t).trim() ? i : -1)).filter((i) => i >= 0);\nif (!nonEmptyIdx.length) return items;\n\nconst toRank = nonEmptyIdx.map((i) => docs[i]);\nconst maxN = Math.min(10, toRank.length);\n\nconst res = await this.helpers.httpRequest.call(this, {\n  method: 'POST',\n  url: 'https://api.cohere.com/v1/rerank',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n    'Content-Type': 'application/json',\n  },\n  body: {\n    model: 'rerank-v3.5',\n    query: question,\n    documents: toRank,\n    top_n: maxN,\n  },\n  timeout: 10000,\n  json: true,\n});\n\nconst results = res.results || [];\nif (!results.length) return items;\n\nreturn results.map((r) => items[nonEmptyIdx[r.index]]).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1584
      ],
      "id": "8e4b3d2f-0c9e-5f8a-b7c6-d5e4f3a2b1c8",
      "name": "Cohere Rerank HTTP"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        14384,
        6800
      ],
      "id": "d6c6f158-37a0-442a-bbf6-3e5d33beb3f8",
      "name": "Webhook",
      "webhookId": "8ec45779-7bf6-4c27-964b-4736d0372be5",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Response Logger').first().json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16960,
        6912
      ],
      "id": "bc34eda7-f403-4619-b1bb-5b2ae7cf8aa3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const ITIE_REQUIREMENT_HINTS = {\"1\":{\"label\":\"Supervision par le groupe multipartite\",\"summary\":\"Pilotage du processus par une collaboration gouvernement, entreprises et société civile.\",\"keywords\":\"groupe multipartite, MSG, gouvernance ITIE, supervision, parties prenantes\"},\"2\":{\"label\":\"Cadre juridique et institutionnel, contrats et licences\",\"summary\":\"Transparence sur les règles régissant le secteur extractif.\",\"keywords\":\"cadre légal, licences, contrats, registre, fiscalité extractive, institutions\"},\"3\":{\"label\":\"Exploration et production\",\"summary\":\"Données sur le potentiel et l'activité réelle du secteur.\",\"keywords\":\"exploration, production, volumes, réserves, exportations extractives\"},\"4\":{\"label\":\"Collecte des revenus\",\"summary\":\"Transparence sur les paiements des entreprises et recettes de l'État.\",\"keywords\":\"revenus, paiements, recettes fiscales, matérialité, rapprochement\"},\"5\":{\"label\":\"Attribution des revenus\",\"summary\":\"Suivi de l'utilisation de l'argent issu de l'extraction.\",\"keywords\":\"budget, répartition, transferts infranationaux, gestion des revenus\"},\"6\":{\"label\":\"Dépenses sociales et environnementales\",\"summary\":\"Impact économique et social au-delà des simples taxes.\",\"keywords\":\"social, environnement, emploi, quasi-fiscalité, impact\"},\"7\":{\"label\":\"Résultats et impact\",\"summary\":\"Les données doivent nourrir le débat public et les réformes.\",\"keywords\":\"impact, débat public, données ouvertes, recommandations, suivi\"},\"1.1\":{\"label\":\"Engagement du gouvernement\",\"summary\":\"Direction politique de haut niveau.\",\"keywords\":\"gouvernement, engagement politique, haut niveau, direction, volonté politique\"},\"1.2\":{\"label\":\"Engagement des entreprises\",\"summary\":\"Participation active des sociétés extractives.\",\"keywords\":\"entreprises extractives, opérateurs, engagement industrie, sociétés minières et pétrolières\"},\"1.3\":{\"label\":\"Engagement de la société civile\",\"summary\":\"Participation libre et indépendante.\",\"keywords\":\"société civile, OSC, indépendance, participation, plaidoyer\"},\"1.4\":{\"label\":\"Groupe multipartite\",\"summary\":\"Établissement et gouvernance du groupe de supervision.\",\"keywords\":\"groupe multipartite, MSG, composition, équilibre des collèges, mandat, statuts\"},\"1.5\":{\"label\":\"Plan de travail\",\"summary\":\"Maintien d'un plan chiffré avec des objectifs mesurables.\",\"keywords\":\"plan de travail, objectifs mesurables, SMART, calendrier, résultats attendus\"},\"2.1\":{\"label\":\"Cadre juridique\",\"summary\":\"Description du régime fiscal et des rôles des organismes publics.\",\"keywords\":\"régime fiscal, législation, cadre juridique, autorités publiques, rôles institutionnels\"},\"2.2\":{\"label\":\"Octroi des licences\",\"summary\":\"Processus d'attribution et critères de sélection.\",\"keywords\":\"octroi, attribution, licences, permis, critères de sélection, procédure concurrentielle\"},\"2.3\":{\"label\":\"Registre des licences\",\"summary\":\"Informations sur les détenteurs et les coordonnées géographiques.\",\"keywords\":\"registre, titulaires, titres miniers, périmètre géographique, cartographie\"},\"2.4\":{\"label\":\"Divulgation des contrats\",\"summary\":\"Publication des textes intégraux des contrats et licences.\",\"keywords\":\"contrats, licences, publication intégrale, transparence contractuelle, textes officiels\"},\"2.5\":{\"label\":\"Propriété effective\",\"summary\":\"Divulgation des propriétaires réels des entreprises extractives.\",\"keywords\":\"bénéficiaires effectifs, propriétaires réels, propriété réelle, UBO, actionnariat effectif, chaîne de contrôle\"},\"2.6\":{\"label\":\"Participation de l'État\",\"summary\":\"Rôle des entreprises publiques et transactions financières liées.\",\"keywords\":\"entreprises d'État, SOE, participation publique, entreprises publiques extractives, flux financiers État\"},\"3.1\":{\"label\":\"Exploration\",\"summary\":\"Informations sur les activités de prospection significatives.\",\"keywords\":\"exploration, prospection, permis d'exploration, activités significatives\"},\"3.2\":{\"label\":\"Production\",\"summary\":\"Données sur les volumes et les valeurs de production.\",\"keywords\":\"production, volumes, valeurs, tonnage, barils, revenus production\"},\"3.3\":{\"label\":\"Exportations\",\"summary\":\"Données sur les volumes et les valeurs des produits exportés.\",\"keywords\":\"exportations, flux commerciaux, volumes exportés, valeur des exportations\"},\"4.1\":{\"label\":\"Déclaration exhaustive\",\"summary\":\"Rapprochement des paiements et recettes significatifs.\",\"keywords\":\"matérialité, seuils, agrégation, rapprochement paiements recettes, déclaration exhaustive\"},\"4.2\":{\"label\":\"Ventes de la part de production de l'État\",\"summary\":\"Transparence sur la vente de pétrole, gaz ou minerais par l'État.\",\"keywords\":\"part de production État, ventes publiques, hydrocarbures, minerais, revenus vente\"},\"4.3\":{\"label\":\"Transport\",\"summary\":\"Revenus tirés du transport des ressources extractives.\",\"keywords\":\"transport, pipelines, droits de transport, revenus logistiques extractifs\"},\"4.4\":{\"label\":\"Transactions des entreprises d'État\",\"summary\":\"Flux financiers entre l'État et ses entreprises.\",\"keywords\":\"entreprises d'État, transferts, transactions internes, dividende, prête-nom\"},\"5.1\":{\"label\":\"Répartition des revenus\",\"summary\":\"Inscription des revenus au budget national.\",\"keywords\":\"budget national, affectation, loi de finances, revenus extractifs budget\"},\"5.2\":{\"label\":\"Transferts infranationaux\",\"summary\":\"Revenus reversés aux collectivités locales.\",\"keywords\":\"collectivités locales, décentralisation, transferts, péréquation, régions\"},\"5.3\":{\"label\":\"Gestion des revenus et dépenses\",\"summary\":\"Divulgation des politiques de gestion.\",\"keywords\":\"gestion des ressources, politiques budgétaires, dépenses, fonds souverains, règles de gestion\"},\"6.1\":{\"label\":\"Dépenses sociales et environnementales\",\"summary\":\"Paiements obligatoires ou volontaires pour le développement social.\",\"keywords\":\"dépenses sociales, environnementales, développement local, obligations volontaires\"},\"6.2\":{\"label\":\"Quasi-fiscalité\",\"summary\":\"Dépenses hors budget effectuées par des entreprises d'État.\",\"keywords\":\"quasi-fiscalité, dépenses hors budget, missions publiques, SOE\"},\"6.3\":{\"label\":\"Contribution du secteur à l'économie\",\"summary\":\"Emploi, PIB et investissements.\",\"keywords\":\"emploi, PIB, investissement, contribution macroéconomique, chaîne de valeur\"},\"6.4\":{\"label\":\"Impact environnemental\",\"summary\":\"Divulgation des rapports d'impact et de réhabilitation.\",\"keywords\":\"impact environnemental, EIE, réhabilitation, mitigation, biodiversité\"},\"7.1\":{\"label\":\"Débat public\",\"summary\":\"Accessibilité des rapports pour favoriser la discussion.\",\"keywords\":\"débat public, consultation, diffusion rapports, participation citoyenne\"},\"7.2\":{\"label\":\"Accessibilité des données\",\"summary\":\"Publication en format de données ouvertes.\",\"keywords\":\"open data, données ouvertes, formats réutilisables, API, fichiers structurés\"},\"7.3\":{\"label\":\"Recommandations\",\"summary\":\"Suivi des leçons tirées pour améliorer la gouvernance.\",\"keywords\":\"recommandations, plan d'action, suivi EITI, correctifs\"},\"7.4\":{\"label\":\"Examen de l'impact\",\"summary\":\"Évaluation annuelle des progrès accomplis.\",\"keywords\":\"évaluation d'impact, progrès annuels, résultats ITIE, performance\"}};\n\nfunction extractAskedRequirement(s) {\n  const t = String(s || '').trim();\n  const sub = t.match(\n    /\\bexigence\\s+([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/i,\n  );\n  if (sub) {\n    return sub[3]\n      ? `${sub[1]}.${sub[2]}.${sub[3]}`.toLowerCase()\n      : `${sub[1]}.${sub[2]}`.toLowerCase();\n  }\n  const sub2 = t.match(\n    /\\b(?:l['\\u2019]exigence|l'exigence)\\s*[:\\s]*([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/i,\n  );\n  if (sub2) {\n    return sub2[3]\n      ? `${sub2[1]}.${sub2[2]}.${sub2[3]}`.toLowerCase()\n      : `${sub2[1]}.${sub2[2]}`.toLowerCase();\n  }\n  const sub3 = t.match(/\\brequirement\\s+([1-7])[\\._]([0-9]{1,2})\\b/i);\n  if (sub3) return `${sub3[1]}.${sub3[2]}`.toLowerCase();\n  if (/\\b(itie|eiti|norme\\s+itie|mreiti|standard\\s+itie)\\b/i.test(t)) {\n    const bare = t.match(/\\b([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/);\n    if (bare) {\n      return bare[3]\n        ? `${bare[1]}.${bare[2]}.${bare[3]}`.toLowerCase()\n        : `${bare[1]}.${bare[2]}`.toLowerCase();\n    }\n  }\n  const ch = t.match(/\\bexigence\\s+([1-7])\\b(?!\\.[\\d])/i);\n  if (ch && !/\\b[1-7][\\._][0-9]/.test(t)) return ch[1];\n  return '';\n}\n\nfunction getItieRequirementEntry(hints, id) {\n  if (!id || !hints || typeof hints !== 'object') return null;\n  const key = String(id).toLowerCase();\n  const row = hints[key];\n  if (row && typeof row === 'object') return { key, ...row };\n  const m = key.match(/^([1-7])\\.([0-9]{1,2})\\.([a-z0-9]+)$/i);\n  if (m) {\n    const parent = `${m[1]}.${m[2]}`.toLowerCase();\n    const p = hints[parent];\n    if (p && typeof p === 'object')\n      return {\n        key: parent,\n        subId: key,\n        ...p,\n      };\n  }\n  return null;\n}\n\nfunction buildRequirementSearchSuffix(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  const parts = [\n    `exigence ${entry.key}`,\n    'norme ITIE 2023',\n    \"note d'orientation\",\n    'MREITI',\n    entry.label,\n    entry.summary,\n    entry.keywords || '',\n  ];\n  return parts\n    .filter((x) => x != null && String(x).trim() !== '')\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buildRequirementFocusPromptBlock(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  const sub =\n    entry.subId && entry.subId !== entry.key\n      ? ` (sous-référence utilisateur : ${entry.subId})`\n      : '';\n  const kw = entry.keywords\n    ? ` Thèmes et termes pour cadrer la recherche documentaire : ${entry.keywords}.`\n    : '';\n  return `\nFOCUS EXIGENCE ITIE ${entry.key}${sub} — ${entry.label}\nRéférence (catalogue national / norme) : ${entry.summary}${kw}\n- Base ta réponse sur des passages qui concernent clairement cette exigence (${entry.key}), la norme ITIE 2023 ou tout document de référence ITIE présent dans les extraits (notes d'orientation, texte normatif, etc.).\n- Privilégie notes d'orientation et norme quand ils couvrent la question ; tous les extraits pertinents pour ${entry.key} sont utilisables pour le fond (voir la règle DISCRÉTION sur la formulation si elle figure dans le prompt principal).\n- Ne substitue pas une autre sous-exigence du même chapitre si le passage ne fait pas le lien explicite avec ${entry.key}.\n- Si aucun extrait ne couvre ${entry.key} ou ses thèmes, dis-le brièvement plutôt que d'expliquer une autre exigence à la place.\n`;\n}\nfunction envStr(name) {\n  try {\n    if (typeof process === 'undefined') return '';\n    const pe = process.env;\n    if (!pe || typeof pe[name] !== 'string') return '';\n    return pe[name];\n  } catch (_) {\n    return '';\n  }\n}\n\nfunction envInt(name, def) {\n  const v = envStr(name).trim();\n  if (!v) return def;\n  const n = parseInt(v, 10);\n  return Number.isFinite(n) && n > 0 ? n : def;\n}\n\nfunction envFloat(name, def) {\n  const v = envStr(name).trim();\n  if (!v) return def;\n  const n = parseFloat(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction envIntOptional(name) {\n  const v = envStr(name).trim();\n  if (!v) return null;\n  const n = parseInt(v, 10);\n  return Number.isFinite(n) && n > 0 ? n : null;\n}\n\nfunction normalizeChatHistory(raw) {\n  if (!Array.isArray(raw)) return [];\n  const out = [];\n  for (const m of raw) {\n    if (!m || typeof m !== 'object') continue;\n    const role = String(m.role || '').toLowerCase();\n    const label =\n      role === 'user'\n        ? 'Utilisateur'\n        : role === 'assistant' || role === 'bot'\n          ? 'Assistant'\n          : '';\n    if (!label) continue;\n    const content = String(m.content ?? m.text ?? '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (!content) continue;\n    out.push({ label, content });\n  }\n  return out;\n}\n\nfunction formatChatHistoryBlock(raw, maxMessages, maxCharsPerMsg) {\n  const items = normalizeChatHistory(raw).slice(-maxMessages);\n  if (!items.length) return '';\n  const lines = items.map((m) => {\n    let c = m.content;\n    if (c.length > maxCharsPerMsg) c = `${c.slice(0, maxCharsPerMsg)}…`;\n    return `${m.label}: ${c}`;\n  });\n  return `CONVERSATION RÉCENTE (pronoms, raccourcis et enchaînements ; le fond normatif vient uniquement des DOCUMENTS ci-dessus) :\\n${lines.join('\\n')}`;\n}\n\nconst b = $('Code in JavaScript3').first().json.body ?? {};\nconst wh = $('Webhook').first()?.json;\nconst chatHistoryFromWebhook = Array.isArray(wh?.body?.chatHistory)\n  ? wh.body.chatHistory\n  : Array.isArray(wh?.chatHistory)\n    ? wh.chatHistory\n    : null;\nconst question =\n  b.chatInput ||\n  b.originalQuestion ||\n  wh?.body?.chatInput ||\n  wh?.chatInput ||\n  '';\n\nconst queryType = String(b.queryType || 'general').toLowerCase();\nconst originalForDetect = String(\n  b.originalQuestion || b.chatInput || question || '',\n).trim();\nconst loweredOrig = originalForDetect.toLowerCase();\n\nfunction userAsksAboutItieValidation(text) {\n  const t = String(text || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n  return (\n    /\\bvalidation\\b/.test(t) ||\n    /guide\\s*(de\\s*la\\s*)?validation/.test(t) ||\n    /procedure\\s*(de\\s*)?validation/.test(t) ||\n    /criteres?\\s*(de\\s*)?validation/.test(t) ||\n    /processus\\s+de\\s+validation/.test(t) ||\n    /\\bevaluation\\s+ciblee\\b/.test(t) ||\n    /\\bbar[eè]me\\s+de\\s+validation\\b/.test(t) ||\n    /\\bconformit[eé].*validation\\b/.test(t)\n  );\n}\n\nconst userMentionsValidation = userAsksAboutItieValidation(originalForDetect);\n\nconst askedReq = extractAskedRequirement(originalForDetect);\nconst reqEntry = getItieRequirementEntry(ITIE_REQUIREMENT_HINTS, askedReq);\n\nconst histMaxMsg = envInt('RAG_HISTORY_MAX_MESSAGES', 8);\nconst histMaxChars = envInt('RAG_HISTORY_MAX_CHARS_PER_MSG', 650);\nconst chatHistoryResolved = Array.isArray(b.chatHistory)\n  ? b.chatHistory\n  : chatHistoryFromWebhook || [];\nconst conversationBlock = formatChatHistoryBlock(\n  chatHistoryResolved,\n  histMaxMsg,\n  histMaxChars,\n);\n\nconst isGreeting =\n  queryType === 'greeting' ||\n  (/^(bonjour|bonsoir|salut|coucou|hello|hi|hey|bonne journée|bonne soirée)\\b/i.test(\n    originalForDetect,\n  ) &&\n    originalForDetect.length < 140 &&\n    !/\\?/.test(originalForDetect) &&\n    originalForDetect.split(/\\s+/).length <= 15);\n\nconst isImplementation =\n  queryType === 'implementation' ||\n  (queryType === 'procedure' &&\n    /mettre en oeuvre|mise en oeuvre|mise en œuvre|comment mettre|comment appliquer|exigence|orientation|guidance|standard/i.test(\n      loweredOrig,\n    )) ||\n  /mettre en oeuvre|mise en oeuvre|mise en œuvre|comment mettre en|comment appliquer|étapes.*(exigence|mise)|exigence\\s*[0-9]/i.test(\n    loweredOrig,\n  ) ||\n  /explique[rz]?\\s+.*\\bexigence\\b|décri(re|vez)|détail.*\\bexigence\\b|portée\\s+de\\s+l['\\u2019]exigence|qu['\\u2019]est-?ce\\s+que\\s+l['\\u2019]exigence/i.test(\n    loweredOrig,\n  );\n\nconst isDefinitionPack =\n  queryType === 'definition' ||\n  queryType === 'obligation' ||\n  /c'est quoi|cest quoi|qu'est-ce|qu est-ce|définition|definition|présent|presente|presenter|rappel.*(itie|eiti|mreiti)|quest ce que l'|quoi l'itie/i.test(\n    loweredOrig,\n  );\n\nconst isFactualEntityQuestion =\n  /quelles?\\s+sont|quels?\\s+sont|liste\\s+(des|les|\\d)|entreprises?[^.\\n]{0,120}(état|etat|public|publique)|sociétés?[^.\\n]{0,80}(état|etat|public)|périmètre[^.\\n]{0,60}entreprise|entreprises?\\s+publiques?|quelle\\s+société|quelles\\s+sociétés|soe\\b/i.test(\n    loweredOrig,\n  );\n\nconst RAG_BOT_AUTHOR_REPLY_FR =\n  'Ahmedou Khlil, Responsable de la Divulgation Systematique de Données à ITIE Mauritanie';\n\nfunction userAsksAboutBotAuthor(text) {\n  const t = String(text || '').trim();\n  if (t.length > 240) return false;\n  return (\n    /\\bqui\\s+(t['\\u2019]a|vous\\s+a)\\s+(a\\s+)?(d[eé]velopp|developp|con[cç]u|concu|cr[éeé]e?|programm|imagin|fa[iî]t|mis\\s+au\\s+point)/i.test(\n      t,\n    ) ||\n    /\\bqui\\s+t['\\u2019]\\s*a\\s+(d[eé]velopp|developp|con[cç]u|concu|cr[éeé])/i.test(\n      t,\n    ) ||\n    /\\b(d[eé]veloppeur|developpeur|concepteur|cr[eé]ateur|auteur)\\b.{0,48}\\b(chafafiya|cet\\s+assistant|ce\\s+chatbot|toi)\\b/i.test(\n      loweredOrig,\n    ) ||\n    /\\b(par\\s+qui)\\b.{0,50}\\b(d[eé]velopp|developp|con[cç]u|concu|cr[éeé])\\b/i.test(\n      loweredOrig,\n    ) ||\n    /\\bqu['\\u2019]est-ce\\s+qui\\s+(t['\\u2019]|vous)\\s+a\\s+(d[eé]velopp|developp|con[cç]u|concu|cr[éeé])/i.test(\n      loweredOrig,\n    )\n  );\n}\n\nconst isAuthorOrOriginQuestion = userAsksAboutBotAuthor(originalForDetect);\n\nconst docs = $input.all();\n\nconst retrievalErrors = docs.flatMap((d) => {\n  const j = d && d.json ? d.json : {};\n  const v = j.retrieval_errors || j.retrievalErrors || j.retrievalError;\n  if (!v) return [];\n  if (Array.isArray(v)) return v.filter(Boolean);\n  if (typeof v === 'object') return [v];\n  return [];\n});\n\nconst retrievalMetrics = (() => {\n  for (const d of docs) {\n    const j = d && d.json ? d.json : {};\n    const m = j.retrieval_metrics || j.retrievalMetrics;\n    if (m && typeof m === 'object') return m;\n  }\n  return null;\n})();\n\nfunction resolveDocLabel(meta, idx) {\n  const raw =\n    meta && typeof meta === 'object' && !Array.isArray(meta) ? meta : {};\n  const candidates = [\n    raw.title,\n    raw.source,\n    raw.filename,\n    raw.file_path,\n    raw.filePath,\n    raw.path,\n    raw.pdf,\n    raw.name,\n  ];\n  for (const c of candidates) {\n    if (c == null || c === '') continue;\n    const s = typeof c === 'string' ? c.trim() : String(c).trim();\n    if (s.length < 2) continue;\n    const low = s.toLowerCase();\n    if (\n      low === 'blob' ||\n      low === 'binary' ||\n      low === 'unknown' ||\n      low === 'inconnu.pdf' ||\n      low.startsWith('[object')\n    ) {\n      continue;\n    }\n    if (low === 'application/pdf') continue;\n    return s.length > 160 ? `${s.slice(0, 157)}…` : s;\n  }\n  return `Réf. ${idx + 1}`;\n}\n\nif (isAuthorOrOriginQuestion) {\n  return [\n    {\n      json: {\n        prompt: `Tu es l'assistant Chafafiya AI (MREITI / ITIE).\n\nQUESTION (responsable du développement ou de la conception de l'assistant) :\n\"${originalForDetect || question}\"\n\nINSTRUCTIONS :\n- Ta réponse doit être exactement UNE seule phrase, sans rien ajouter avant ni après (pas de salutation, pas de guillemets, pas de tiret, pas de source).\n- Texte obligatoire, caractère par caractère :\n${RAG_BOT_AUTHOR_REPLY_FR}\n\nRÉPONSE:`,\n        question,\n        contexte: '',\n      },\n    },\n  ];\n}\n\nif (isGreeting) {\n  const histGreeting = formatChatHistoryBlock(chatHistoryResolved, 6, 420);\n  const suiteGreeting = histGreeting\n    ? `\\n\\n${histGreeting}\\n\\nPoursuite de conversation : adapte le ton (remerciement, clôture, relance courte) en cohérence avec cet historique. Ne répète pas une longue explication déjà donnée.`\n    : '';\n  return [\n    {\n      json: {\n        prompt: `Tu es l'assistant Chafafiya AI pour la transparence des industries extractives (MREITI / ITIE).\n\nMessage actuel : \"${originalForDetect || question}\" (salutation ou politesse).${suiteGreeting}\n\nINSTRUCTIONS:\n- Réponds en français, ton professionnel et chaleureux, comme dans un échange naturel.\n- S'il s'agit d'un premier contact : salue brièvement et propose ton aide (définitions ITIE, exigences, rapports MREITI, mise en œuvre).\n- S'il s'agit d'une suite de dialogue : réponds de façon brève et liée au fil (sans relecture complète d'un sujet déjà traité).\n- Ne cite aucun document ni numéro [n]. N'invente pas de contenu normatif.\n- 2 à 5 phrases maximum.\n\nRÉPONSE:`,\n        question,\n        contexte: '',\n      },\n    },\n  ];\n}\n\nconst qTrim = (question || '').trim();\nconst questionLooksIncomplete =\n  !isDefinitionPack &&\n  !isImplementation &&\n  (qTrim.length < 16 ||\n    /['\\u2019]\\s*$/i.test(qTrim) ||\n    (!/[.?!]$/.test(qTrim) && qTrim.split(/\\s+/).length <= 4));\n\nconst MIN_CONTENT_LENGTH = envInt('RAG_MIN_CONTENT_LENGTH', 150);\nconst MIN_SCORE = envFloat('RAG_MIN_SCORE', 0.28);\n\nfunction isRepetitiveContent(text) {\n  const t = String(text || '')\n    .toLowerCase()\n    .trim();\n  const words = t.split(/\\s+/).filter(Boolean);\n  if (words.length < 5) return true;\n  const uniqueWords = new Set(words);\n  const repetitionRatio = uniqueWords.size / words.length;\n  return repetitionRatio < 0.4;\n}\n\nfunction isMetadataOnly(text) {\n  const trimmed = String(text || '').trim();\n  const metadataPatterns = [\n    /^(page|tableau|figure|annexe)\\s+\\d+/i,\n    /^document (confidentiel|interne)/i,\n    /^voir (annexe|page|section)/i,\n    /^\\d+\\s+(sur|\\/)\\s+\\d+$/,\n  ];\n  return metadataPatterns.some((pattern) => pattern.test(trimmed));\n}\n\nconst filteredDocs = docs.filter((d) => {\n  const rawContent =\n    d.json?.document?.pageContent ||\n    d.json?.pageContent ||\n    d.json?.text ||\n    '';\n  const content = rawContent.trim();\n  const contentLower = content.toLowerCase();\n  const score = typeof d.json?.score === 'number' ? d.json.score : 0;\n\n  return (\n    contentLower.length >= MIN_CONTENT_LENGTH &&\n    score >= MIN_SCORE &&\n    !isRepetitiveContent(content) &&\n    !isMetadataOnly(content)\n  );\n});\n\nconst relevantDocs = filteredDocs.length > 0 ? filteredDocs : docs;\n\nconst CONTEXT_LIMITS = {\n  greeting: 1000,\n  definition: 3000,\n  obligation: 3500,\n  implementation: 6000,\n  procedure: 5000,\n  factual: 4000,\n  chiffre: 3500,\n  liste: 4000,\n  comparaison: 4000,\n  general: 4000,\n};\nconst CHUNK_LIMITS = {\n  greeting: 2,\n  definition: 5,\n  obligation: 6,\n  implementation: 10,\n  procedure: 8,\n  factual: 7,\n  chiffre: 6,\n  liste: 7,\n  comparaison: 6,\n  general: 6,\n};\n\nlet limitKey = queryType;\nif (\n  isFactualEntityQuestion &&\n  !['implementation', 'definition', 'obligation', 'greeting'].includes(\n    queryType,\n  )\n) {\n  limitKey = 'factual';\n}\n\nconst MAX_LENGTH =\n  envIntOptional('RAG_MAX_CONTEXT_CHARS') ??\n  (CONTEXT_LIMITS[limitKey] ?? CONTEXT_LIMITS.general);\nconst maxChunks =\n  envIntOptional('RAG_LLM_MAX_CHUNKS') ??\n  (CHUNK_LIMITS[limitKey] ?? CHUNK_LIMITS.general);\n\nconst maxPerDoc = envInt('RAG_MAX_CHUNKS_PER_DOC', 3);\n\nfunction diversifyDocs(items, perSource) {\n  const counts = {};\n  const out = [];\n  for (const d of items) {\n    const meta = d.json?.document?.metadata || d.json?.metadata || {};\n    const sid =\n      meta.document_id ||\n      meta.source ||\n      meta.filename ||\n      meta.title ||\n      'unknown';\n    const key = String(sid);\n    const c = counts[key] || 0;\n    if (c >= perSource) continue;\n    counts[key] = c + 1;\n    out.push(d);\n  }\n  return out;\n}\n\nconst diversified = diversifyDocs(relevantDocs, maxPerDoc);\nconst workingDocs =\n  diversified.length > 0 ? diversified : relevantDocs;\nconst cappedDocs = workingDocs.slice(0, maxChunks);\nconst chunksRetrieved = Array.isArray(workingDocs) ? workingDocs.length : 0;\nconst chunksUsed = Array.isArray(cappedDocs) ? cappedDocs.length : 0;\n\nlet totalLength = 0;\n\nconst sourceUrls = new Map();\nconst contexte = cappedDocs\n  .map((d, i) => {\n    let content = (\n      d.json?.document?.pageContent ||\n      d.json?.pageContent ||\n      d.json?.text ||\n      ''\n    )\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    if (!content) return null;\n\n    const meta = d.json?.document?.metadata || d.json?.metadata || {};\n    const label = resolveDocLabel(meta, i);\n    const sec =\n      typeof meta.section_path === 'string' && meta.section_path.trim()\n        ? meta.section_path.trim().slice(0, 140)\n        : '';\n    const sectionHint = sec ? ` [Section: ${sec}]` : '';\n\n    totalLength += content.length;\n\n    if (totalLength > MAX_LENGTH) return null;\n\n    const url = (typeof meta.source_url === 'string' && meta.source_url.startsWith('http') ? meta.source_url : null) || (typeof meta.source === 'string' && meta.source.startsWith('http') ? meta.source : null) || (typeof meta.source_path === 'string' && meta.source_path.startsWith('http') ? meta.source_path : null);\n    if (url) sourceUrls.set(i + 1, url);\n    return `[${i + 1}] [Fichier: ${label}]${sectionHint}\\n${content}`;\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\nif (!contexte || contexte.length < 20) {\n  const histNoDoc = conversationBlock\n    ? `\\n\\n${conversationBlock}\\n\\nTu peux faire une phrase de transition qui renvoie au fil de la conversation, sans inventer de contenu documentaire.`\n    : '';\n  const noContextPrompt = retrievalErrors.length\n    ? `SITUATION : Le service de recherche documentaire n'a pas pu fonctionner correctement pour : \"${question}\".${histNoDoc}\n\nTU DOIS répondre en français par un message très court qui :\n- dit que le service de recherche est temporairement indisponible pour répondre précisément ;\n- propose de réessayer plus tard (et éventuellement de reformuler avec des mots-clés : exigence, norme ITIE, rapport, transparence, MREITI) ;\n- ne donne AUCUNE définition ni détail sur l'ITIE, la norme ou les obligations : interdiction d'utiliser tes connaissances générales.`\n    : `Tu es Chafafiya AI, assistant ITIE/MREITI.\n\nSITUATION : Aucun extrait pertinent trouvé dans la base documentaire pour la question : \"${question}\"${histNoDoc}\n\nINSTRUCTIONS :\n- Réponds en français professionnel, 2 à 3 phrases maximum.\n- Explique que la base documentaire ne contient pas d'extrait correspondant à cette question précise.\n- Propose une reformulation utile : suggère d'utiliser le numéro d'exigence (ex. « exigence 2.5 »), un terme technique ITIE (« propriété effective », « matérialité », « groupe multipartite »), ou de préciser le thème (transparence, revenus, licences, validation…).\n- Reste encourageant et professionnel — l'utilisateur doit avoir envie de reformuler.\n- INTERDIT : donner une définition ou explication ITIE tirée de tes connaissances générales.`;\n\n  return [\n    {\n      json: {\n        prompt: noContextPrompt,\n        question,\n        contexte: '',\n        retrieval_errors: retrievalErrors,\n        retrieval_metrics: retrievalMetrics,\n        chunks_retrieved: chunksRetrieved,\n        chunks_used: chunksUsed,\n      },\n    },\n  ];\n}\n\nlet modeBlock = '';\nif (isImplementation) {\n  modeBlock = `\nMODE : MISE EN ŒUVRE D'UNE EXIGENCE\n\nTu agis comme un conseiller opérationnel. Structure ta réponse ainsi :\n\n1. **Ce que demande la norme** (1-2 phrases) : résume l'obligation centrale de l'exigence selon les extraits [n].\n2. **Comment la mettre en œuvre** : liste d'étapes numérotées en continu (1. 2. 3. …). CHAQUE étape DOIT commencer par son numéro suivi d'un titre court en gras, puis ses sous-détails en tirets indentés.\n\nFORMAT OBLIGATOIRE pour chaque étape (respecte exactement cette structure) :\n\n1. **[Titre court de l'étape]**\n   - Action : [action précise à réaliser]\n   - Acteur : [gouvernement / MSG / entreprises / auditeur]\n   - Livrable : [rapport, registre, formulaire, délibération…]\n   - Référence : (voir [n])\n\n2. **[Titre court de l'étape suivante]**\n   - Action : [...]\n   - Acteur : [...]\n   - Livrable : [...]\n   - Référence : (voir [n])\n\nINTERDIT : utiliser des titres **en gras seuls** sans numéro devant. INTERDIT : sauter la numérotation. INTERDIT : mettre les sous-détails sans indentation.\n3. **Points critiques et pièges à éviter** : difficultés fréquentes de mise en œuvre mentionnées dans les extraits.\n4. **Ressources disponibles** : si les extraits mentionnent des notes d'orientation, modèles ou formulaires ITIE, liste-les avec leur lien si disponible.\n\nRÈGLES MODE IMPL :\n- Sois direct et précis — pas de généralités, chaque étape doit pouvoir être exécutée immédiatement.\n- EXHAUSTIVITÉ ABSOLUE : liste TOUTES les étapes présentes dans les extraits, sans exception ni résumé. Si la note d'orientation liste 8 étapes, ta réponse doit en présenter 8. Ne regroupe pas, ne condense pas.\n- Si les extraits sont en anglais, traduis chaque étape fidèlement en français avant de la présenter.\n- Si une étape n'est pas couverte par les extraits, utilise ton expertise ITIE et marque-la (expertise ITIE).\n- Ne répète pas l'intitulé exact de l'exigence au-delà de la partie 1.\n`;\n}\n else if (isFactualEntityQuestion) {\n  modeBlock = `\nMODE : RÉPONSE FACTUELLE (LISTES, PÉRIMÈTRE, ENTITÉS)\n\n- Réponds uniquement si les extraits contiennent explicitement l'information demandée (listes, critères, catégories, obligations liées à la question).\n- Si les extraits ne traitent pas le sujet clairement : une réponse courte (3 à 5 phrases) indiquant que les documents disponibles ne permettent pas de répondre précisément. INTERDIT d'ajouter une définition générale de l'ITIE ou du MREITI pour combler.\n- Ne crée pas de section « Définition » générique de l'ITIE dans ce cas.\n- Tu peux proposer une reformulation ou des mots-clés seulement si ces termes figurent dans les extraits ; sinon invite à consulter les textes officiels sans inventer de numéros d'exigence.\n`;\n} else if (isDefinitionPack) {\n  modeBlock = `\nMODE : DÉFINITION / PRÉSENTATION\n\nSTRUCTURE :\n- Commence par une définition concise (1-2 phrases) ancrée dans les extraits [n].\n- Développe en 1 à 2 paragraphes fluides : contexte, objectif, portée.\n- Si l'exigence a des composantes distinctes (a, b, c…), une courte liste à puces est appropriée avec (voir [n]) pour chaque élément.\n\nRÈGLES :\n- Pas de titres Markdown (###) sauf si demandé explicitement.\n- Chaque idée factuelle = un extrait [n] identifiable.\n- N'assimile pas à des « objectifs de la norme ITIE » des passages qui parlent d'autre chose.\n- INTERDIT : liste générique non ancrée dans les extraits.\n`;\n}\n\nconst incompletBlock = questionLooksIncomplete\n  ? `\\nATTENTION: La QUESTION semble incomplète ou trop vague. Ne complète pas avec tes connaissances générales : demande poliment de préciser le sujet ; si tu réponds, limite-toi aux passages [n].`\n  : '';\n\nconst requirementFocusBlock = buildRequirementFocusPromptBlock(reqEntry);\n\nconst validationDiscretionBlock = userMentionsValidation\n  ? `\n\nVOIX « VALIDATION » : La question évoque la validation ITIE ; tu peux nommer explicitement le guide, la procédure ou les critères de validation si c'est utile, en restant ancré dans les extraits [n].\n`\n  : `\n\nDISCRÉTION — FORMULATION : Les extraits peuvent inclure le guide de la validation, des procédures ou critères associés au cycle de validation ITIE ; utilise leur contenu pour répondre sans le présenter comme tel dans ta phrase. N'emploie pas dans ta réponse (sauf citation strictement nécessaire d'un titre déjà dans un extrait) : « guide de validation », « procédure de validation », « critères de validation », ni « validation » au sens du cycle d'évaluation ITIE du pays. Préfère « d'après les documents », « selon les passages cités » ou (voir [n]). Si [Fichier: ...] contient le mot « validation », ne le répète pas : reste sur (voir [n]). Tu peux toujours parler de « validation » dans d'autres sens métier (ex. validation de données) si l'extrait l'exige.\n`;\n\nconst conversationSection = conversationBlock\n  ? `${conversationBlock}\n\n`\n  : '';\n\nconst prompt = `\nTu es Chafafiya AI, conseiller expert en mise en œuvre de la Norme ITIE 2023, au service de MREITI (Initiative pour la Transparence des Industries Extractives — Mauritanie).\n\nTon rôle est d'accompagner concrètement les parties prenantes — gouvernement, entreprises extractives, société civile, auditeurs — dans l'application opérationnelle des 7 exigences de la Norme ITIE 2023.\n\nTu te bases exclusivement sur les notes d'orientation officielles de l'ITIE (eiti.org) disponibles dans les extraits documentaires ci-dessous. Chaque conseil pratique, chaque étape de mise en œuvre, chaque recommandation que tu donnes doit être tirée directement de ces extraits.\n\nTon ton est celui d'un conseiller expérimenté : direct, orienté action, précis.\n\nSOURCES DOCUMENTAIRES (extraits numérotés issus de eiti.org — base exclusive de ta réponse) :\n${contexte}\n\n${conversationSection}QUESTION :\n${question}\n${incompletBlock}\n${requirementFocusBlock}\n${modeBlock}\n${validationDiscretionBlock}\n\nIDENTITÉ : Si l'utilisateur demande qui t'a développé, créé ou conçu, réponds uniquement : « Ce chatbot a été développé par Ahmedou Khlil, Responsable de Divulgation Systematique ITIE Mauritanie. » Ne mentionne aucune autre technologie ni outil tiers.\n\nRÈGLES DE RÉPONSE :\n1. SOURCES STRICTES : chaque affirmation, étape ou recommandation doit être tirée d'un extrait [n] identifié. N'invente rien qui ne figure pas dans les extraits.\n2. ORIENTATION ACTION : formule chaque point comme un conseil opérationnel concret (quoi faire, qui, comment) — pas comme une description abstraite de la norme. Si l'extrait dit « les États membres doivent publier… », traduis-le en « Publiez… en suivant les étapes : … ».\n3. PRÉCISION EXIGENCE : si la question porte sur une exigence précise (ex. 2.5), centre ta réponse sur cette exigence uniquement.\n4. HONNÊTETÉ : si les extraits ne couvrent pas suffisamment la question pour donner un conseil pratique complet, dis-le clairement et indique quels aspects sont couverts.\n5. COHÉRENCE : une seule position par réponse. Pas de contradictions, pas de généralités sans appui documentaire.\n6. FIL DE DIALOGUE : enchaîne naturellement si l'utilisateur fait référence à un échange précédent.\n7. SOURCES : cite toujours (voir [n]) après chaque point tiré d'un extrait. Ne mentionne jamais « blob », « binary », ni un nom de fichier brut.\n8. LIENS SOURCES : si le prompt contient une section SOURCES avec des URLs, ajoute en fin de réponse une section **Sources :** avec les liens Markdown vers les pages eiti.org des extraits cités.\n9. EXHAUSTIVITÉ DES ÉTAPES : lorsque les extraits proviennent d'une note d'orientation officielle ITIE (note d'orientation, guidance note, implementation guidance), tu DOIS reproduire et détailler TOUTES les étapes mentionnées dans ces extraits sans en omettre aucune. Numérote chaque étape clairement. Si une étape contient des sous-étapes, détaille-les également.\n10. LANGUE FRANÇAISE OBLIGATOIRE : ta réponse doit toujours être rédigée en français, même si les extraits documentaires sont en anglais. Traduis fidèlement tout contenu anglais extrait des notes d'orientation. Ne laisse aucun passage en anglais dans ta réponse finale.\n\nTON ET FORMAT :\n- Français professionnel, fluide et accessible — adapté à un expert comme à un novice ITIE.\n- Structure tes réponses : contexte bref → contenu structuré → synthèse si utile.\n- NUMÉROTATION OBLIGATOIRE : toute liste d'étapes, de mesures ou d'actions DOIT être présentée sous forme de liste numérotée (1. 2. 3. …), jamais en puces (-) ni en paragraphes continus. Chaque étape = un numéro distinct. Les sous-détails de chaque étape (action, acteur, livrable, référence) utilisent des tirets indentés (   - texte).\n- Les définitions et explications contextuelles utilisent des paragraphes. Les critères, obligations et listes d'entités utilisent des puces (-).\n- Évite : « CONTEXTE », « prompt », « RAG », « extrait système », « selon mes données ».\n- Préfère : « selon la Norme ITIE 2023 », « d'après la note d'orientation », « conformément à l'exigence X.Y ».\n\nRÉPONSE :\n`;\n\n// Build sources block from collected URLs\nconst sourcesLines = [];\nfor (const [sIdx, sUrl] of sourceUrls.entries()) {\n  sourcesLines.push(`[${sIdx}] ${sUrl}`);\n}\nconst sourcesBlock = sourcesLines.length\n  ? `\n\nSOURCES :\n` + sourcesLines.join(`\n`)\n  : '';\nconst promptFinal = prompt + sourcesBlock;\n\nreturn [\n  {\n    json: {\n      prompt: promptFinal,\n      question,\n      contexte,\n      sources: Object.fromEntries(sourceUrls),\n      retrieval_errors: retrievalErrors,\n      retrieval_metrics: retrievalMetrics,\n      chunks_retrieved: chunksRetrieved,\n      chunks_used: chunksUsed,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15568,
        6896
      ],
      "id": "0ae28f4d-304e-4570-bd43-d7a3763fd172",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "function envStr(name) {\n  try {\n    if (typeof process === 'undefined') return '';\n    const pe = process.env;\n    if (!pe || typeof pe[name] !== 'string') return '';\n    return pe[name];\n  } catch (_) {\n    return '';\n  }\n}\n\nfunction extractAssistantText(data) {\n  if (data == null) return '';\n  if (typeof data === 'string') return data.trim();\n  if (Array.isArray(data)) {\n    for (let i = 0; i < data.length; i++) {\n      const t = extractAssistantText(data[i]);\n      if (t) return t;\n    }\n    return '';\n  }\n  if (typeof data !== 'object') return String(data);\n  const o = data;\n  if (typeof o.output === 'string' && o.output.trim()) return o.output.trim();\n  const choice = o.choices?.[0]?.message?.content;\n  if (typeof choice === 'string' && choice.trim()) return choice.trim();\n  const gem =\n    o.content?.parts?.[0]?.text ||\n    o.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (typeof gem === 'string' && gem.trim()) return gem.trim();\n  const blocks = o.content;\n  if (Array.isArray(blocks)) {\n    const out = [];\n    for (let j = 0; j < blocks.length; j++) {\n      const b = blocks[j];\n      if (typeof b === 'string') out.push(b);\n      else if (b && typeof b.text === 'string') out.push(b.text);\n    }\n    const joined = out.join('').trim();\n    if (joined) return joined;\n  }\n  const mc = o.message?.content;\n  if (typeof mc === 'string' && mc.trim()) return mc.trim();\n  if (Array.isArray(mc)) {\n    let s = '';\n    for (let k = 0; k < mc.length; k++) {\n      const p = mc[k];\n      if (typeof p === 'string') s += p;\n      else if (p && typeof p.text === 'string') s += p.text;\n    }\n    if (s.trim()) return s.trim();\n  }\n  if (typeof o.text === 'string' && o.text.trim()) return o.text.trim();\n  if (typeof o.response === 'string' && o.response.trim())\n    return o.response.trim();\n  return '';\n}\n\nfunction maxCitationFromContext(contexte) {\n  const ctx = String(contexte || '');\n  const re = /\\[(\\d+)\\]/g;\n  let m;\n  let max = 0;\n  while ((m = re.exec(ctx)) !== null) {\n    const n = parseInt(m[1], 10);\n    if (n > max) max = n;\n  }\n  return max;\n}\n\nfunction stripRagMetaParagraphs(text) {\n  const chunks = String(text || '')\n    .split(/\\n{2,}/)\n    .map((p) => p.trim())\n    .filter(Boolean);\n  const kept = chunks.filter((p) => {\n    const low = p.toLowerCase();\n    if (/^#{0,3}\\s*\\*{0,2}\\s*nota\\s+bene\\b/i.test(p)) return false;\n    if (/^nota\\s+bene\\s*:/i.test(low)) return false;\n    if (/^nb\\s*:/i.test(low)) return false;\n    if (/^\\*{0,2}\\s*nota\\s+bene\\b/i.test(low)) return false;\n    return true;\n  });\n  return kept.join('\\n\\n').trim();\n}\n\nfunction responseQualityWarnings(response, contexte) {\n  const warnings = [];\n  const maxRef = maxCitationFromContext(contexte);\n  const res = String(response || '');\n  const citeRe = /\\[(\\d+)\\]/g;\n  let m;\n  while ((m = citeRe.exec(res)) !== null) {\n    const n = parseInt(m[1], 10);\n    if (maxRef > 0 && n > maxRef) {\n      warnings.push('citation_hors_contexte');\n      break;\n    }\n  }\n  const low = res.toLowerCase();\n  if (/source:\\s*blob/.test(low) || /fichier:\\s*blob/.test(low)) {\n    warnings.push('source_invalide');\n  }\n  return warnings;\n}\n\nconst raw = $input.first().json;\nlet response =\n  extractAssistantText(raw) ||\n  extractAssistantText(raw?.output) ||\n  extractAssistantText(raw?.data) ||\n  '';\n\nif (!response) {\n  return [\n    {\n      json: {\n        response: \"Désolé, je n'ai pas pu générer de réponse.\",\n      },\n    },\n  ];\n}\n\nconst stripped = stripRagMetaParagraphs(response);\nif (stripped.length >= 24) {\n  response = stripped;\n}\n\nconst ctxItem = $('Code in JavaScript').first()?.json ?? {};\nconst contexte = ctxItem.contexte != null ? String(ctxItem.contexte) : '';\n\nconst strictOff = /^(0|false|off|no)$/i.test(\n  envStr('RAG_STRICT_CITATION').trim(),\n);\n\nconst warnings = responseQualityWarnings(response, contexte);\n\nconst FALLBACK =\n  \"Je ne peux pas confirmer cette réponse à partir des extraits fournis. Veuillez reformuler votre question ou préciser le sujet (exigence, norme ITIE, rapport MREITI).\";\n\nif (warnings.length > 0 && contexte.length >= 20) {\n  if (strictOff) {\n    response +=\n      \"\\n\\n⚠️ Attention : certains éléments (citations ou sources) ne correspondent pas aux passages indexés ; vérifiez dans les documents officiels.\";\n  } else {\n    response = FALLBACK;\n  }\n}\n\nreturn [\n  {\n    json: {\n      response,\n      warnings,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16272,
        7120
      ],
      "id": "f24f58b5-3b85-4ef0-ae7f-e89dae2f7ace",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst fromBody =\n  root.body && typeof root.body === 'object' ? { ...root.body } : {};\nconst chatHistoryResolved = Array.isArray(fromBody.chatHistory)\n  ? fromBody.chatHistory\n  : Array.isArray(root.chatHistory)\n    ? root.chatHistory\n    : [];\nconst inboundBody = { ...fromBody, chatHistory: chatHistoryResolved };\nconst question = inboundBody.chatInput ?? root.chatInput ?? 'question vide';\n\nfunction compactHistoryForClassifier(items, maxMsg, maxLen) {\n  if (!Array.isArray(items) || !items.length) return '';\n  const lines = [];\n  for (const m of items.slice(-maxMsg)) {\n    const role = String(m.role || '').toLowerCase();\n    const tag =\n      role === 'user'\n        ? 'U'\n        : role === 'assistant' || role === 'bot'\n          ? 'A'\n          : null;\n    if (!tag) continue;\n    let c = String(m.content || m.text || '')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (!c) continue;\n    if (c.length > maxLen) c = `${c.slice(0, maxLen)}…`;\n    lines.push(`${tag}: ${c}`);\n  }\n  return lines.length\n    ? `\\n\\nÉchanges précédents (interpréter ellipses, pronoms, suites type « idem », « la suivante » ; ne pas inventer de faits) :\\n${lines.join('\\n')}`\n    : '';\n}\n\nconst histCtx = compactHistoryForClassifier(inboundBody.chatHistory, 8, 480);\n\nconst prompt =\n  'Tu es un classificateur de requêtes pour Chafafiya AI, assistant documentaire ITIE/MREITI.\\n' +\n  'Analyse la question et retourne UNIQUEMENT un JSON valide, sans markdown ni texte autour.\\n\\n' +\n  'QUESTION: \"' + question + '\"' + histCtx + '\\n\\n' +\n  'RÈGLES D\\'ANALYSE :\\n' +\n  '1. Si la question cite un numéro d\\'exigence (ex. 1.1, 2.5, 4.1) : enrichedQuery DOIT inclure le numéro exact + « norme ITIE 2023 » + « note d\\'orientation » + les mots-clés thématiques de CETTE exigence uniquement.\\n' +\n  '2. Si la question parle de mise en œuvre, étapes, comment faire, procédure : queryType = « implementation ».\\n' +\n  '3. Si la question demande ce qu\\'est, définir, présenter, expliquer : queryType = « definition » ou « obligation ».\\n' +\n  '4. Si la question est une suite (« idem pour 2.6 », « développe le point 2 », « et pour les entreprises ? ») : déduis le contexte des échanges précédents et construis enrichedQuery complète.\\n' +\n  '5. Pour les questions sur propriété effective, bénéficiaires effectifs : inclure « exigence 2.5 » + « UBO » + « registre propriété effective ».\\n' +\n  '6. Pour les questions sur validation ITIE : inclure « validation ITIE » + « guide de validation » + « procédure de validation ».\\n' +\n  '7. Pour les questions sur les revenus, paiements, recettes : inclure « exigence 4.1 » + « matérialité » + « rapprochement ».\\n\\n' +\n  'queryType doit être UN parmi :\\n' +\n  '- greeting : salutation ou politesse pure (bonjour, merci, au revoir) sans demande documentaire\\n' +\n  '- definition : qu\\'est-ce que, définir, présenter, rappeler ce qu\\'est\\n' +\n  '- obligation : quelles sont les obligations / exigences (présentation sans demande de mise en œuvre)\\n' +\n  '- implementation : comment mettre en œuvre, appliquer, concrétiser, étapes pratiques\\n' +\n  '- procedure : démarches administratives, processus institutionnels\\n' +\n  '- liste : demande d\\'énumération (quels pays, quelles entreprises, quels flux)\\n' +\n  '- comparaison : différences, similitudes entre exigences ou concepts\\n' +\n  '- general : question générale sur l\\'ITIE sans exigence précise\\n\\n' +\n  'Format exact (JSON strict) :\\n' +\n  '{\\n' +\n  '  \"queryType\": \"...\",\\n' +\n  '  \"enrichedQuery\": \"question reformulée enrichie avec termes techniques ITIE, numéro d\\'exigence, note d\\'orientation, norme ITIE 2023\",\\n' +\n  '  \"language\": \"fr|ar|en\"\\n' +\n  '}';\n\nreturn [\n  {\n    json: {\n      ...root,\n      body: { ...inboundBody, chatInput: question },\n      rewritingPrompt: prompt,\n      originalQuestion: question,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14576,
        6880
      ],
      "id": "d71c962e-26d4-405f-8543-6de39ec78fa6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const ITIE_REQUIREMENT_HINTS = {\"1\":{\"label\":\"Supervision par le groupe multipartite\",\"summary\":\"Pilotage du processus par une collaboration gouvernement, entreprises et société civile.\",\"keywords\":\"groupe multipartite, MSG, gouvernance ITIE, supervision, parties prenantes\"},\"2\":{\"label\":\"Cadre juridique et institutionnel, contrats et licences\",\"summary\":\"Transparence sur les règles régissant le secteur extractif.\",\"keywords\":\"cadre légal, licences, contrats, registre, fiscalité extractive, institutions\"},\"3\":{\"label\":\"Exploration et production\",\"summary\":\"Données sur le potentiel et l'activité réelle du secteur.\",\"keywords\":\"exploration, production, volumes, réserves, exportations extractives\"},\"4\":{\"label\":\"Collecte des revenus\",\"summary\":\"Transparence sur les paiements des entreprises et recettes de l'État.\",\"keywords\":\"revenus, paiements, recettes fiscales, matérialité, rapprochement\"},\"5\":{\"label\":\"Attribution des revenus\",\"summary\":\"Suivi de l'utilisation de l'argent issu de l'extraction.\",\"keywords\":\"budget, répartition, transferts infranationaux, gestion des revenus\"},\"6\":{\"label\":\"Dépenses sociales et environnementales\",\"summary\":\"Impact économique et social au-delà des simples taxes.\",\"keywords\":\"social, environnement, emploi, quasi-fiscalité, impact\"},\"7\":{\"label\":\"Résultats et impact\",\"summary\":\"Les données doivent nourrir le débat public et les réformes.\",\"keywords\":\"impact, débat public, données ouvertes, recommandations, suivi\"},\"1.1\":{\"label\":\"Engagement du gouvernement\",\"summary\":\"Direction politique de haut niveau.\",\"keywords\":\"gouvernement, engagement politique, haut niveau, direction, volonté politique\"},\"1.2\":{\"label\":\"Engagement des entreprises\",\"summary\":\"Participation active des sociétés extractives.\",\"keywords\":\"entreprises extractives, opérateurs, engagement industrie, sociétés minières et pétrolières\"},\"1.3\":{\"label\":\"Engagement de la société civile\",\"summary\":\"Participation libre et indépendante.\",\"keywords\":\"société civile, OSC, indépendance, participation, plaidoyer\"},\"1.4\":{\"label\":\"Groupe multipartite\",\"summary\":\"Établissement et gouvernance du groupe de supervision.\",\"keywords\":\"groupe multipartite, MSG, composition, équilibre des collèges, mandat, statuts\"},\"1.5\":{\"label\":\"Plan de travail\",\"summary\":\"Maintien d'un plan chiffré avec des objectifs mesurables.\",\"keywords\":\"plan de travail, objectifs mesurables, SMART, calendrier, résultats attendus\"},\"2.1\":{\"label\":\"Cadre juridique\",\"summary\":\"Description du régime fiscal et des rôles des organismes publics.\",\"keywords\":\"régime fiscal, législation, cadre juridique, autorités publiques, rôles institutionnels\"},\"2.2\":{\"label\":\"Octroi des licences\",\"summary\":\"Processus d'attribution et critères de sélection.\",\"keywords\":\"octroi, attribution, licences, permis, critères de sélection, procédure concurrentielle\"},\"2.3\":{\"label\":\"Registre des licences\",\"summary\":\"Informations sur les détenteurs et les coordonnées géographiques.\",\"keywords\":\"registre, titulaires, titres miniers, périmètre géographique, cartographie\"},\"2.4\":{\"label\":\"Divulgation des contrats\",\"summary\":\"Publication des textes intégraux des contrats et licences.\",\"keywords\":\"contrats, licences, publication intégrale, transparence contractuelle, textes officiels\"},\"2.5\":{\"label\":\"Propriété effective\",\"summary\":\"Divulgation des propriétaires réels des entreprises extractives.\",\"keywords\":\"bénéficiaires effectifs, propriétaires réels, propriété réelle, UBO, actionnariat effectif, chaîne de contrôle\"},\"2.6\":{\"label\":\"Participation de l'État\",\"summary\":\"Rôle des entreprises publiques et transactions financières liées.\",\"keywords\":\"entreprises d'État, SOE, participation publique, entreprises publiques extractives, flux financiers État\"},\"3.1\":{\"label\":\"Exploration\",\"summary\":\"Informations sur les activités de prospection significatives.\",\"keywords\":\"exploration, prospection, permis d'exploration, activités significatives\"},\"3.2\":{\"label\":\"Production\",\"summary\":\"Données sur les volumes et les valeurs de production.\",\"keywords\":\"production, volumes, valeurs, tonnage, barils, revenus production\"},\"3.3\":{\"label\":\"Exportations\",\"summary\":\"Données sur les volumes et les valeurs des produits exportés.\",\"keywords\":\"exportations, flux commerciaux, volumes exportés, valeur des exportations\"},\"4.1\":{\"label\":\"Déclaration exhaustive\",\"summary\":\"Rapprochement des paiements et recettes significatifs.\",\"keywords\":\"matérialité, seuils, agrégation, rapprochement paiements recettes, déclaration exhaustive\"},\"4.2\":{\"label\":\"Ventes de la part de production de l'État\",\"summary\":\"Transparence sur la vente de pétrole, gaz ou minerais par l'État.\",\"keywords\":\"part de production État, ventes publiques, hydrocarbures, minerais, revenus vente\"},\"4.3\":{\"label\":\"Transport\",\"summary\":\"Revenus tirés du transport des ressources extractives.\",\"keywords\":\"transport, pipelines, droits de transport, revenus logistiques extractifs\"},\"4.4\":{\"label\":\"Transactions des entreprises d'État\",\"summary\":\"Flux financiers entre l'État et ses entreprises.\",\"keywords\":\"entreprises d'État, transferts, transactions internes, dividende, prête-nom\"},\"5.1\":{\"label\":\"Répartition des revenus\",\"summary\":\"Inscription des revenus au budget national.\",\"keywords\":\"budget national, affectation, loi de finances, revenus extractifs budget\"},\"5.2\":{\"label\":\"Transferts infranationaux\",\"summary\":\"Revenus reversés aux collectivités locales.\",\"keywords\":\"collectivités locales, décentralisation, transferts, péréquation, régions\"},\"5.3\":{\"label\":\"Gestion des revenus et dépenses\",\"summary\":\"Divulgation des politiques de gestion.\",\"keywords\":\"gestion des ressources, politiques budgétaires, dépenses, fonds souverains, règles de gestion\"},\"6.1\":{\"label\":\"Dépenses sociales et environnementales\",\"summary\":\"Paiements obligatoires ou volontaires pour le développement social.\",\"keywords\":\"dépenses sociales, environnementales, développement local, obligations volontaires\"},\"6.2\":{\"label\":\"Quasi-fiscalité\",\"summary\":\"Dépenses hors budget effectuées par des entreprises d'État.\",\"keywords\":\"quasi-fiscalité, dépenses hors budget, missions publiques, SOE\"},\"6.3\":{\"label\":\"Contribution du secteur à l'économie\",\"summary\":\"Emploi, PIB et investissements.\",\"keywords\":\"emploi, PIB, investissement, contribution macroéconomique, chaîne de valeur\"},\"6.4\":{\"label\":\"Impact environnemental\",\"summary\":\"Divulgation des rapports d'impact et de réhabilitation.\",\"keywords\":\"impact environnemental, EIE, réhabilitation, mitigation, biodiversité\"},\"7.1\":{\"label\":\"Débat public\",\"summary\":\"Accessibilité des rapports pour favoriser la discussion.\",\"keywords\":\"débat public, consultation, diffusion rapports, participation citoyenne\"},\"7.2\":{\"label\":\"Accessibilité des données\",\"summary\":\"Publication en format de données ouvertes.\",\"keywords\":\"open data, données ouvertes, formats réutilisables, API, fichiers structurés\"},\"7.3\":{\"label\":\"Recommandations\",\"summary\":\"Suivi des leçons tirées pour améliorer la gouvernance.\",\"keywords\":\"recommandations, plan d'action, suivi EITI, correctifs\"},\"7.4\":{\"label\":\"Examen de l'impact\",\"summary\":\"Évaluation annuelle des progrès accomplis.\",\"keywords\":\"évaluation d'impact, progrès annuels, résultats ITIE, performance\"}};\n\nfunction extractAskedRequirement(s) {\n  const t = String(s || '').trim();\n  const sub = t.match(\n    /\\bexigence\\s+([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/i,\n  );\n  if (sub) {\n    return sub[3]\n      ? `${sub[1]}.${sub[2]}.${sub[3]}`.toLowerCase()\n      : `${sub[1]}.${sub[2]}`.toLowerCase();\n  }\n  const sub2 = t.match(\n    /\\b(?:l['\\u2019]exigence|l'exigence)\\s*[:\\s]*([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/i,\n  );\n  if (sub2) {\n    return sub2[3]\n      ? `${sub2[1]}.${sub2[2]}.${sub2[3]}`.toLowerCase()\n      : `${sub2[1]}.${sub2[2]}`.toLowerCase();\n  }\n  const sub3 = t.match(/\\brequirement\\s+([1-7])[\\._]([0-9]{1,2})\\b/i);\n  if (sub3) return `${sub3[1]}.${sub3[2]}`.toLowerCase();\n  if (/\\b(itie|eiti|norme\\s+itie|mreiti|standard\\s+itie)\\b/i.test(t)) {\n    const bare = t.match(/\\b([1-7])[\\._]([0-9]{1,2})(?:[\\._]([a-z0-9]+))?\\b/);\n    if (bare) {\n      return bare[3]\n        ? `${bare[1]}.${bare[2]}.${bare[3]}`.toLowerCase()\n        : `${bare[1]}.${bare[2]}`.toLowerCase();\n    }\n  }\n  const ch = t.match(/\\bexigence\\s+([1-7])\\b(?!\\.[\\d])/i);\n  if (ch && !/\\b[1-7][\\._][0-9]/.test(t)) return ch[1];\n  return '';\n}\n\nfunction getItieRequirementEntry(hints, id) {\n  if (!id || !hints || typeof hints !== 'object') return null;\n  const key = String(id).toLowerCase();\n  const row = hints[key];\n  if (row && typeof row === 'object') return { key, ...row };\n  const m = key.match(/^([1-7])\\.([0-9]{1,2})\\.([a-z0-9]+)$/i);\n  if (m) {\n    const parent = `${m[1]}.${m[2]}`.toLowerCase();\n    const p = hints[parent];\n    if (p && typeof p === 'object')\n      return {\n        key: parent,\n        subId: key,\n        ...p,\n      };\n  }\n  return null;\n}\n\nfunction buildRequirementSearchSuffix(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  const parts = [\n    `exigence ${entry.key}`,\n    'norme ITIE 2023',\n    \"note d'orientation\",\n    'MREITI',\n    entry.label,\n    entry.summary,\n    entry.keywords || '',\n  ];\n  return parts\n    .filter((x) => x != null && String(x).trim() !== '')\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buildRequirementFocusPromptBlock(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  const sub =\n    entry.subId && entry.subId !== entry.key\n      ? ` (sous-référence utilisateur : ${entry.subId})`\n      : '';\n  const kw = entry.keywords\n    ? ` Thèmes et termes pour cadrer la recherche documentaire : ${entry.keywords}.`\n    : '';\n  return `\nFOCUS EXIGENCE ITIE ${entry.key}${sub} — ${entry.label}\nRéférence (catalogue national / norme) : ${entry.summary}${kw}\n- Base ta réponse sur des passages qui concernent clairement cette exigence (${entry.key}), la norme ITIE 2023 ou tout document de référence ITIE présent dans les extraits (notes d'orientation, texte normatif, etc.).\n- Privilégie notes d'orientation et norme quand ils couvrent la question ; tous les extraits pertinents pour ${entry.key} sont utilisables pour le fond (voir la règle DISCRÉTION sur la formulation si elle figure dans le prompt principal).\n- Ne substitue pas une autre sous-exigence du même chapitre si le passage ne fait pas le lien explicite avec ${entry.key}.\n- Si aucun extrait ne couvre ${entry.key} ou ses thèmes, dis-le brièvement plutôt que d'expliquer une autre exigence à la place.\n`;\n}\nfunction extractAssistantText(data) {\n  if (data == null) return '';\n  if (typeof data === 'string') return data.trim();\n  if (Array.isArray(data)) {\n    for (let i = 0; i < data.length; i++) {\n      const t = extractAssistantText(data[i]);\n      if (t) return t;\n    }\n    return '';\n  }\n  if (typeof data !== 'object') return String(data);\n  const o = data;\n  if (typeof o.output === 'string' && o.output.trim()) return o.output.trim();\n  const choice = o.choices?.[0]?.message?.content;\n  if (typeof choice === 'string' && choice.trim()) return choice.trim();\n  const gem =\n    o.content?.parts?.[0]?.text ||\n    o.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (typeof gem === 'string' && gem.trim()) return gem.trim();\n  const blocks = o.content;\n  if (Array.isArray(blocks)) {\n    const out = [];\n    for (let j = 0; j < blocks.length; j++) {\n      const b = blocks[j];\n      if (typeof b === 'string') out.push(b);\n      else if (b && typeof b.text === 'string') out.push(b.text);\n    }\n    const joined = out.join('').trim();\n    if (joined) return joined;\n  }\n  if (typeof o.text === 'string' && o.text.trim()) return o.text.trim();\n  return '';\n}\n\nconst raw = $input.first().json;\nconst originalNode = $('Code in JavaScript2').first().json ?? {};\n\nconst rawText =\n  extractAssistantText(raw) ||\n  extractAssistantText(raw?.output) ||\n  extractAssistantText(raw?.data) ||\n  '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText.replace(/```json|```/g, '').trim());\n} catch (e) {\n  parsed = {};\n}\n\nconst originalChat =\n  originalNode.body?.chatInput ??\n  originalNode.chatInput ??\n  originalNode.originalQuestion ??\n  '';\n\nlet enrichedQuery =\n  parsed.enrichedQuery && parsed.enrichedQuery.length > 5\n    ? parsed.enrichedQuery\n    : originalChat;\n\nconst rid = extractAskedRequirement(String(originalChat || ''));\nconst rentry = getItieRequirementEntry(ITIE_REQUIREMENT_HINTS, rid);\nconst qSuffix = buildRequirementSearchSuffix(rentry);\nif (qSuffix) {\n  enrichedQuery = `${enrichedQuery} ${qSuffix}`.replace(/\\s+/g, ' ').trim();\n}\n\nconst baseBody =\n  originalNode.body && typeof originalNode.body === 'object'\n    ? { ...originalNode.body }\n    : {};\n\nconst chatHistoryOut = Array.isArray(baseBody.chatHistory)\n  ? baseBody.chatHistory\n  : [];\n\nreturn [\n  {\n    json: {\n      ...originalNode,\n      body: {\n        ...baseBody,\n        chatInput: enrichedQuery,\n        originalQuestion:\n          baseBody.chatInput ?? originalNode.originalQuestion ?? originalChat,\n        queryType: parsed.queryType || 'general',\n        language: parsed.language || 'fr',\n        chatHistory: chatHistoryOut,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15024,
        6896
      ],
      "id": "50218a1e-6986-4f8b-b1ef-8e1c6aba1685",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst headers = $('Webhook').first()?.json?.headers || {};\nconst userIdVal =\n  headers['x-user-id'] ||\n  headers['x-forwarded-for'] ||\n  `anonymous_${Date.now()}`;\n\nconst body3 = $('Code in JavaScript3').first()?.json?.body ?? {};\nconst originalQ =\n  body3.originalQuestion != null ? String(body3.originalQuestion) : '';\nconst enrichedQ =\n  body3.chatInput != null ? String(body3.chatInput) : originalQ;\n\nconst responseId = `resp_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst text = response.response || response.output || '';\nconst now = new Date();\nconst ts = now.toISOString();\nconst pad = (n) => String(n).padStart(2, '0');\nconst createdAtMysql =\n  `${now.getUTCFullYear()}-${pad(now.getUTCMonth() + 1)}-${pad(now.getUTCDate())} ${pad(now.getUTCHours())}:${pad(now.getUTCMinutes())}:${pad(now.getUTCSeconds())}`;\nconst promptId = 'rag_main';\nconst variantVal = 'A';\n\nconst logEntry = {\n  responseId,\n  timestamp: ts,\n  userId: userIdVal,\n  variant: variantVal,\n  routingMode: 'single_path',\n  promptId,\n  originalQuestion: originalQ,\n  enrichedQuery: enrichedQ,\n  response: text,\n  responseLength: text.length,\n  userFeedback: null,\n  feedbackScore: null,\n};\n\nreturn [{\n  json: {\n    response: text,\n    response_id: responseId,\n    variant: variantVal,\n    ab_test_variant: variantVal,\n    prompt_id: promptId,\n    user_id: userIdVal,\n    original_question: originalQ,\n    enriched_query: enrichedQ,\n    response_length: text.length,\n    user_feedback: null,\n    feedback_score: null,\n    ab_test_log: JSON.stringify(logEntry),\n    created_at: createdAtMysql,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16512,
        7088
      ],
      "id": "13007764-82f7-4674-9091-33ce12d83fa5",
      "name": "Response Logger"
    },
    {
      "parameters": {
        "jsCode": "function pickFirstObj(x) {\n  return x && typeof x === 'object' && !Array.isArray(x) ? x : null;\n}\n\nconst root = $input.first().json;\nconst ctx = $('Code in JavaScript').first()?.json ?? {};\nconst b3 = $('Code in JavaScript3').first()?.json?.body ?? {};\nconst webhook = $('Webhook').first()?.json ?? {};\n\nconst requestStartMs = webhook._request_start_ms || webhook.body?._request_start_ms || null;\nconst nowMs = Date.now();\n\nconst retrievalMetrics = pickFirstObj(ctx.retrieval_metrics) || {};\nconst retrievalErrors = Array.isArray(ctx.retrieval_errors) ? ctx.retrieval_errors : [];\nconst warnings = Array.isArray(root.warnings) ? root.warnings : [];\n\nconst requestId = webhook._request_id || webhook.body?._request_id || `req_${nowMs}_${Math.random().toString(36).slice(2, 8)}`;\n\nconst latencyTotalMs = typeof requestStartMs === 'number' ? nowMs - requestStartMs : null;\n\nconst row = {\n  request_id: requestId,\n  response_id: root.response_id,\n  user_id: root.user_id,\n  original_question: root.original_question,\n  enriched_query: root.enriched_query,\n  query_type: b3.queryType || null,\n  language: b3.language || null,\n  requirement_detected: null,\n  latency_total_ms: latencyTotalMs,\n  latency_retrieval_ms: retrievalMetrics.latency_retrieval_ms ?? null,\n  latency_ollama_embed_ms: retrievalMetrics.latency_ollama_embed_ms ?? null,\n  latency_qdrant_ms: retrievalMetrics.latency_qdrant_ms ?? null,\n  retrieval_strategy: retrievalMetrics.retrieval_strategy ?? null,\n  chunks_retrieved: ctx.chunks_retrieved ?? null,\n  chunks_after_rerank: ctx.chunks_used ?? null,\n  qdrant_status: retrievalMetrics.qdrant_status ?? null,\n  ollama_status: retrievalMetrics.ollama_status ?? null,\n  redis_cache: retrievalMetrics.redis_cache ?? null,\n  cache_hit: retrievalMetrics.cache_hit === true ? 1 : retrievalMetrics.cache_hit === false ? 0 : null,\n  cache_key_hash: retrievalMetrics.cache_key_hash ?? null,\n  llm_status: 'ok',\n  response_length: root.response_length ?? (root.response ? String(root.response).length : null),\n  warnings_json: warnings.length ? JSON.stringify(warnings) : null,\n  retrieval_errors_json: retrievalErrors.length ? JSON.stringify(retrievalErrors) : null,\n};\n\nreturn [{ json: row }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16790,
        7248
      ],
      "id": "e8c1a3c2-1f2d-4e6c-9a9d-2a9b7a7b8c11",
      "name": "Prepare request_logs row"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "request_logs",
          "mode": "list",
          "cachedResultName": "request_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        17030,
        7248
      ],
      "id": "a1fdb2a5-0e2c-4a24-8c5f-3b3aa86d2b5a",
      "name": "Insert request_logs row",
      "credentials": {
        "mySql": {
          "id": "AAoO0YF1FT6eDakm",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst ctx = $('Code in JavaScript').first()?.json ?? {};\nconst retrievalErrors = Array.isArray(ctx.retrieval_errors) ? ctx.retrieval_errors : [];\n\nif (!retrievalErrors.length) return [];\n\nconst base = {\n  created_at: response.created_at,\n  response_id: response.response_id,\n  user_id: response.user_id,\n  original_question: response.original_question,\n  enriched_query: response.enriched_query,\n};\n\nreturn retrievalErrors.map((e) => ({\n  json: {\n    created_at: base.created_at,\n    response_id: base.response_id,\n    user_id: base.user_id,\n    service: e.service || 'unknown',\n    operation: e.operation || '',\n    error_message: e.message || '',\n    stack: e.stack || null,\n    http_status: e.http_status || e.statusCode || null,\n    original_question: base.original_question,\n    enriched_query: base.enriched_query,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17050,
        7088
      ],
      "id": "b5f6f8a9-0d3e-4f0c-9c4b-5cc8d7d3c2f1",
      "name": "Prepare error logs rows"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "error_logs",
          "mode": "list",
          "cachedResultName": "error_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        17250,
        7072
      ],
      "id": "c2d8a3a1-8d62-4f8c-8f88-8a3b2d3f9c21",
      "name": "Insert error_logs rows",
      "credentials": {
        "mySql": {
          "id": "AAoO0YF1FT6eDakm",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "ab_test_logs",
          "mode": "list",
          "cachedResultName": "ab_test_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        16736,
        7072
      ],
      "id": "31449dce-1474-4d0f-83a0-a26026b9c6ad",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "AAoO0YF1FT6eDakm",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.rewritingPrompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        14704,
        7040
      ],
      "id": "aa766a54-ee7e-4520-a975-4ac0f03f85fc",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "HBzQFArMDO0o57aM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        15936,
        7056
      ],
      "id": "3446b892-4fcc-45b3-8b60-191a0cb2eef4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "HBzQFArMDO0o57aM",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Response Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Qdrant Hybrid Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Hybrid Search": {
      "main": [
        [
          {
            "node": "Cohere Rerank HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Rerank HTTP": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Logger": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare error logs rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare request_logs row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare request_logs row": {
      "main": [
        [
          {
            "node": "Insert request_logs row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare error logs rows": {
      "main": [
        [
          {
            "node": "Insert error_logs rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d748f66a-df1c-4869-8819-7b69e19b11c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bdf7ff688b19ab0ac36637c28bc133a6c53efcc2cf4f2adb9831b0cb07db95d"
  },
  "id": "nhMCgHXJNc3GhUfg",
  "tags": []
}